<!-- BESTELLEN BLOK -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 0 0")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="left" valign="top" style="padding:25px 0 40px 0; border-top: 2px solid #EAEDEE; border-bottom: 2px solid #EAEDEE;" class="td-padding-inner")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0")
                            tr
                                td(width="120" align="left" valign="top")
                                    a(href="#LINK")
                                        img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/map-icon.jpg" width="95" height="95" alt="#ALT" border="0" style="display:block;")
                                td(align="left" valign="top")
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="left" valign="top" style="font-family:Arial, Helvetica Neue, Helvetica, sans-serif; font-size:14px; line-height:22px; color:#333333; font-weight: bold;") Jouw dichtsbijzijnde afhaalpunt:
                                        tr
                                            td(align="left" valign="top" style="font-family:Arial, Helvetica Neue, Helvetica, sans-serif; font-size:14px; line-height:22px; color:#333333; padding-top: 5px;") Dreamland Mechelen - Oscar Van Kesbeeckstraat 17 - 2800 Mechelen
                                        tr
                                            td(align="left" valign="top" style="font-family:Arial, Helvetica Neue, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#0098DA; padding-top: 20px;") Winkelinformatie
<!-- BESTELLEN BLOK -->