<!-- PROMOCODE -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:25px 0 25px 0;")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FDD01A")
                tr
                    td(align="center" valign="top" style="padding:25px 60px 25px 60px;")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FDD01A")
                            tr
                                td(align="center" valign="top" style="padding-bottom: 15px;")
                                    a(href="#LINK" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:24px; line-height:28px; color:#000000; text-decoration: none;") <span style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:24px; line-height:28px; color:#000000; text-decoration: none; font-weight: bold;">Exclusieve korting: -10%</span> op het volledige gamma met onderstaande code
                            tr
                                td(align="center" valign="top")
                                    table(bgcolor="#CAA614" style="border-radius: 22px;")
                                        tr
                                            td(align="center" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:23px; font-weight:bold; color:#FFFFFF; padding:10px 30px 10px 30px; text-decoration: none;") COLLI1234
                            tr
                                td(align="center" valign="top" style="padding: 15px 0 0 5px;")
                                    table(border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="left" valign="top" width="16" style="padding-right:10px;")
                                                img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/arrow-icon-red.png" width="16" height="16" alt="" border="0" style="display:block;")
                                            td(align="center" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:14px; line-height:17px; color:#000000; display: inline")
                                                a(href="#LINK" style="color:#000000; text-decoration:none;") Neem je korting
<!-- PROMOCODE -->