<!-- LOGO -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:25px 0 25px 0;")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="center" valign="top")
                        a(href="https://www.collishop.be/e/nl/cs" name="logo_collishop" target="_blank" xt="SPCLICKSTREAM")
                            img(src="img/vast/collishop-logo.png" width="205" height="56" alt="Logo ColliShop" border="0" style="display:block;" )
<!-- LOGO --> 