<!-- NAVIGATIE -->
table(width="100%", border="0", cellspacing="0", cellpadding="0", class="table-wrapper", bgcolor="#FFFFFF")
    tr
        td(align="center", valign="top", class="td-padding-outer", style="padding:0 0 20px 0;")
            table(width="600", border="0", cellspacing="0", cellpadding="0", class="table-full", bgcolor="#FFFFFF")
                tr
                    td(align="center", valign="top", style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;")
                        a(href="https://www.collishop.be/e/nl/cs/elektro", target="_blank" xt="SPCLICKSTREAM" name="topnav_elektro" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Elektro | 
                        a(href="https://www.collishop.be/e/nl/cs/koken-en-tafelen", target="_blank" xt="SPCLICKSTREAM" name="topnav_koken_en_tafelen" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Koken en tafelen | 
                        a(href="https://www.collishop.be/e/nl/cs/goed-slapen", target="_blank" xt="SPCLICKSTREAM" name="topnav_slapen" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Slapen | 
                        a(href="https://www.collishop.be/e/nl/cs/wonen", target="_blank" xt="SPCLICKSTREAM" name="topnav_wonen" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Wonen | 
                        a(href="https://www.collishop.be/e/nl/cs/terras-en-tuin", target="_blank" xt="SPCLICKSTREAM" name="topnav_terras_en_tuin" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Terras en tuin | 
                        a(href="https://www.collishop.be/e/nl/cs/huishouden", target="_blank" xt="SPCLICKSTREAM" name="topnav_huishouden" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Huishouden 
<!-- NAVIGATIE -->