table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#0098DA")
    tr
        td(align="center" valign="top" class="td-padding-outer")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#0098DA")
                tr
                    td(align="left" valign="top" class="td-padding-inner")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0")
                            tr
                                td(align="left" valign="top" style="padding:30px 0 20px 0;")
                                    table(align="left" width="31%" border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="center" valign="top")
                                                table(width="150" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                                    tr
                                                        td(align="center" valign="top" style="padding-bottom:10px;")
                                                            a(href="#LINK")
                                                                img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/icon-8.jpg" width="35" height="34" alt="#ALT" border="0" style="display:block;")
                                                    tr
                                                        td(align="center" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:18px; font-weight:bold; color:#FFFFFF; padding:0px 0 20px 0;")
                                                            a(href="#LINK" style="color:#FFFFFF; text-decoration:none;") Veelgestelde vragen
                                    table(align="left" width="31%" border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="center" valign="top")
                                                table(width="150" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                                    tr
                                                        td(align="center" valign="top" style="padding-bottom:10px;")
                                                            a(href="#LINK")
                                                                img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/icon-9.jpg" width="35" height="34" alt="#ALT" border="0" style="display:block;")
                                                    tr
                                                        td(align="center" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:18px; font-weight:bold; color:#FFFFFF; padding:0px 0 20px 0;")
                                                            a(href="#LINK" style="color:#FFFFFF; text-decoration:none;") Contactformulier
                                    table(align="left" width="31%" border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="center" valign="top")
                                                table(width="150" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                                    tr
                                                        td(align="center" valign="top" style="padding-bottom:10px;")
                                                            a(href="#LINK")
                                                                img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/icon-10.jpg" width="35" height="34" alt="#ALT" border="0" style="display:block;")
                                                    tr
                                                        td(align="center" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:18px; font-weight:bold; color:#FFFFFF; padding:0px 0 20px 0;")
                                                            a(href="#LINK" style="color:#FFFFFF; text-decoration:none;") 02&nbsp;363&nbsp;50&nbsp;60
                        table(width="100%" border="0" cellspacing="0" cellpadding="0")
                            tr
                                td(align="center" valign="top" style="font-family:Arial, Helvetica Neue, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#FFFFFF;") Actie badlinnen en promoprijzen geldig t.e.m. 27/08/2019 - Actie gratis ijsmaker geldig t.e.m. 31/08/2019 - Actie bureaus en bureaustoelen geldig t.e.m. 04/09/2019 - Actie rugzakken en boekentassen geldig t.e.m. 30/09/2019 - Je vindt al onze acties en voorwaarden op collishop.be
                        table(width="100%" border="0" cellspacing="0" cellpadding="0")
                            tr
                                td(align="center" valign="top" style="padding: 25px 0 60px 0;")
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(width="49" align="middle" valign="top" style="padding-left:20px;")
                                                a(href="#LINK")
                                                    img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/Colruyt-group-logo.jpg" width="103" height="30" alt="#ALT" border="0" style="display:block;")
                                            td(align="right" valign="middle" style="font-family:Arial, Helvetica Neue, Helvetica, sans-serif; font-size:13px; line-height:16px; color:#B2E0F3;")
                                                a(href="#LINK" style="color:#B2E0F3; text-decoration:underline;") Privacy policy - 
                                                a(href="#LINK" style="color:#B2E0F3; text-decoration:underline;") Uitschrijven