<!-- HEADER FULL WIDTH HEIGHT -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#EAEBE5")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 0 0;")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#EAEBE5")
                tr
                    td(align="left" valign="top" class="td-center")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#EAEBE5")
                            tr
                                td(align="center" valign="top")
                                    a(href="#LINK" style="font-size: 0; line-height: 0; padding: 0;")
                                        img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/header-image-full-width-height.jpg" width="600" height="400" alt="#ALT" border="0" class="img-full" style="display: block;")

table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer pb-30" style="padding:30px 0 60px 0;")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="left" valign="top" class="td-center")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                            tr
                                td(align="center" valign="top")
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="center" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:30px; line-height:35px;  padding-bottom: 10px;" class="fs-20") <span style="display: block; font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:70px; line-height:82px; font-weight: bold; color: #D20000;" class="fs-50">-20%</span> op alles van het assortiment dieren
                                    table(border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="center" valign="top" bgcolor="#E92972" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:18px; line-height:21px; color:#FFFFFF; padding:15px 20px 15px 20px; border-radius: 25px;")
                                                a(href="#LINK" style="color:#FFFFFF; text-decoration:none; display:inline-block;") Bekijk het assortiment
<!-- HEADER FULL WIDTH HEIGHT -->