<!-- LOGO -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:25px 0 25px 0;")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="center" valign="top")
                        a(href="#LINK")
                            img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/collishop-logo.jpg" width="205" height="56" alt="#ALT" border="0" style="display:block;" )
<!-- LOGO -->