<!-- NAVIGATIE -->
table(width="100%", border="0", cellspacing="0", cellpadding="0", class="table-wrapper", bgcolor="#FFFFFF")
    tr
        td(align="center", valign="top", class="td-padding-outer", style="padding:0 0 20px 0;")
            table(width="600", border="0", cellspacing="0", cellpadding="0", class="table-full", bgcolor="#FFFFFF")
                tr
                    td(align="center", valign="top", style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;")
                        a(href="#LINK", style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Electro | 
                        a(href="#LINK", style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Koken en tafelen | 
                        a(href="#LINK", style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Slapen | 
                        a(href="#LINK", style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Wonen | 
                        a(href="#LINK", style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Terras en tuin | 
                        a(href="#LINK", style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Huishouden 
<!-- NAVIGATIE -->