<!-- VOORDELEN -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 0 0")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="left" valign="top" style="padding:60px 0px 40px 0px;" class="td-padding-inner")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                            tr
                                td(align="left" valign="top" class="pt-25" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #000000; font-size: 24px; line-height: 28px; text-decoration: none; padding-bottom: 35px;") Jouw voordelen als ColliShop-klant?
                        table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                            tr
                                td(align="left" valign="top" style="padding-right: 10px;")
                                    a(href="#LINK")
                                        img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/icon-1.jpg" width="60" height="60" alt="#ALT" border="0" style="display:block;")
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:18px; line-height:26px; color:#000000; padding:0px 0 20px 0;") <span style="display: block; font-size:20px; line-height:24px; font-weight:bold; color: #0098DA; padding-bottom: 5px;">Kies met advies</span> Snuister door onze productbesprekingen, krijg keuzehulp en steek wat op van onze handige huis-, tuin- en keukentips.
                            tr
                                td(align="left" valign="top" style="padding-right: 10px;")
                                    a(href="#LINK")
                                        img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/icon-3.jpg" width="60" height="60" alt="#ALT" border="0" style="display:block;")
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:18px; line-height:26px; color:#000000; padding:0px 0 20px 0;") <span style="display: block; font-size:20px; line-height:24px; font-weight:bold; color: #0098DA; padding-bottom: 5px;">Duurzaam geleverd, dicht bij huis</span> Pik je bestelling op wanneer het jou past, in alle Colruyt-winkels en Collect&amp;Go-afhaalpunten. 
                            tr
                                td(align="left" valign="top" style="padding-right: 10px;")
                                    a(href="#LINK")
                                        img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/icon-4.jpg" width="60" height="60" alt="#ALT" border="0" style="display:block;")
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:18px; line-height:26px; color:#000000; padding:0px 0 20px 0;") <span style="display: block; font-size:20px; line-height:24px; font-weight:bold; color: #0098DA; padding-bottom: 5px;">Pas betalen bij afhalen</span> Vooraf betalen hoeft niet, dat doe je pas als je je bestelling oppikt. Niet overtuigd? Geen probleem, dan laat je je pakje liggen.
                        table(border="0" cellspacing="0" cellpadding="0")
                            tr
                                td(align="center" valign="top" bgcolor="#0098DA" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:18px; line-height:21px; color:#FFFFFF; padding:15px 20px 15px 20px; border-radius: 25px;")
                                    a(href="#LINK" style="color:#FFFFFF; text-decoration:none; display:inline-block;") Bekijk hier het assortiment
<!-- VOORDELEN -->