//- 83BE27  GROEN
//- FE7E22  ORANJE
//- FED9DF  ROZE
//- 83C8DF  BLAUW
//- E1E4E5  GRIJS

include ../includes/Headers/header--full-width-height.pug
include ../includes/Basic/Title.pug

include ../includes/Special/promocode.pug


include ../includes/Promo/promo-A-IL-TextR_MobileBottom.pug
include ../includes/Promo/promo-C-IR_TextL_MobileBottom.pug
include ../includes/Promo/promo-B-IL_TextR_MobileTop.pug
include ../includes/Promo/promo-D-IR_TextL_MobileTop.pug

include ../includes/Basic/promo-2cat.pug
include ../includes/Basic/promo-4prod.pug

include ../includes/Inspo/inspo-A-IL_TitleR_MobileBottom.pug
include ../includes/Inspo/inspo-B-IL_TitleR_MobileTop.pug
include ../includes/Inspo/inspo-C-IR_TitleL_MobileBottom.pug
include ../includes/Inspo/inspo-D-IR_TitleL_MobileTop.pug
include ../includes/Inspo/inspo-E-IL_TextR_Border_MobileBottom.pug
include ../includes/Inspo/inspo-F-IL_TextR_Border_MobileTop.pug
include ../includes/Inspo/inspo-G-IR_TextL_Border_MobileBottom.pug
include ../includes/Inspo/inspo-H-IR_TextL_Border_MobileTop.pug
include ../includes/Inspo/inspo-I-IL_TextR_MobileBottom.pug
include ../includes/Inspo/inspo-J-IL_TextR_MobileTop.pug
include ../includes/Inspo/inspo-K-IR_TextL_MobileBottom.pug
include ../includes/Inspo/inspo-L-IR_TextL_MobileTop.pug

<!-- INTRO -->
+header--full-width-height({
title: " test",
cta: "test",
link: "https://www.collishop.be/e/fr/cs",
img: "Birthday_campaign-bijna-headerFR",
bgcolor: "#FFFFFF",
color: "#FFFFFF"
})

table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="left" valign="top" class="td-padding-inner" style="padding:25px 0 0 0;")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0")
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:30px; color:#000000; font-weight:bold; padding-bottom:10px;") C’est bientôt votre anniversaire, <perso voornaam>…
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000; margin-bottom: 10px;") Vous avez déjà une idée de comment fêter cela ? Quoi que vous ayez décidé, nous avons tout de même quelques chouettes suggestions qui pourraient vous intéresser. 
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000; margin-bottom: 10px;") Nous vous offrons également € 5 de réduction sur votre prochaine commande pour rendre votre shopping encore plus agréable.
                            //-tr
                                 td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000;")  
                                    p Groeten, <br>Het ColliShop-team

<!-- INTRO -->

+promocode({
title: "Spécialement pour vous : € 5 de réduction",
promocode: "AEI148DSS",
cta: "Profitez maintenant de votre réduction",
link: "https://www.collishop.be/e/fr/cs",
bgcolor: "#F6CF7A",
color: "#FFFFFF"

})

+inspo-L-IR_TextL_MobileTop({
title: "Organisez un repas chez vous",
subTitle: "Ici, vous trouverez tout ce dont vous avez besoin pour recevoir vos invités avec style. ",
cta: "Oui, je le fais ! ",
link: "https://www.collishop.be/e/fr/cs/cuisine-et-arts-de-la-table",
img: "koken_en_tafelen",
bgcolor: "#FFFFFF",
color: "#FFFFFF"

})

+inspo-L-IR_TextL_MobileTop({
title: "Améliorez votre sommeil",
subTitle: "Rechargez complètement vos batteries grâce à ces différentes literies !",
cta: "Ok, je reste au lit",
link: "https://www.collishop.be/e/fr/cs/literie",
img: "slapen",
bgcolor: "#FFFFFF",
color: "#FFFFFF"

})

+inspo-L-IR_TextL_MobileTop({
title: "Profitez de nos promotions",
subTitle: "Retrouvez ici toutes nos actions et réductions du moment.",
cta: "Ok, j'en profite !",
link: "https://www.collishop.be/e/fr/cs/toutes-nos-actions",
img: "promoties",
bgcolor: "#FFFFFF",
color: "#FFFFFF"

})