//- 83BE27
//- FE7E22
//- FED9DF
include ../includes/Headers/header--full-width-height.pug
include ../includes/Basic/Title.pug
include ../includes/Basic/promo-2cat.pug
include ../includes/Promo/promo-A-IL-TextR_MobileBottom.pug
include ../includes/Promo/promo-C-IR_TextL_MobileBottom.pug
include ../includes/Basic/promo-4prod.pug
include ../includes/Inspo/inspo-H-IR_TextL_Border_MobileTop.pug
include ../includes/Promo/promo-B-IL_TextR_MobileTop.pug

<!-- INTRO -->


<!-- INTRO -->
