//- 83BE27
//- FE7E22
//- FED9DF
include ../includes/Headers/header--full-width-height.pug
include ../includes/Basic/Title.pug


include ../includes/Promo/promo-A-IL-TextR_MobileBottom.pug
include ../includes/Promo/promo-C-IR_TextL_MobileBottom.pug
include ../includes/Promo/promo-B-IL_TextR_MobileTop.pug
include ../includes/Promo/promo-D-IR_TextL_MobileTop.pug

include ../includes/Basic/promo-2cat.pug
include ../includes/Basic/promo-4prod.pug

include ../includes/Inspo/inspo-A-IL_TitleR_MobileBottom.pug
include ../includes/Inspo/inspo-B-IL_TitleR_MobileTop.pug
include ../includes/Inspo/inspo-C-IR_TitleL_MobileBottom.pug
include ../includes/Inspo/inspo-D-IR_TitleL_MobileTop.pug
include ../includes/Inspo/inspo-E-IL_TextR_Border_MobileBottom.pug
include ../includes/Inspo/inspo-F-IL_TextR_Border_MobileTop.pug
include ../includes/Inspo/inspo-G-IR_TextL_Border_MobileBottom.pug
include ../includes/Inspo/inspo-H-IR_TextL_Border_MobileTop.pug
include ../includes/Inspo/inspo-I-IL_TextR_MobileBottom.pug
include ../includes/Inspo/inspo-J-IL_TextR_MobileTop.pug
include ../includes/Inspo/inspo-K-IR_TextL_MobileBottom.pug
include ../includes/Inspo/inspo-L-IR_TextL_MobileTop.pug

<!-- INTRO -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="left" valign="top" class="td-padding-inner" style="padding:25px 0 25px 0;")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0")
                            tr
                                td(align="left" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:30px; color:#000000; font-weight:bold; padding-bottom:10px;") Cher client,
                            tr
                                td(align="left" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000; margin-bottom: 10px;") Ne manquez pas la chance de profiter de superbes réductions sur les meubles de jardin : € 25 à partir de € 250 d’achat, et € 100 dès € 500 d’achat. 
                            tr
                                td(align="left" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000;") Dépêchez-vous, l’action n’est valable que ce week-end !
                            tr
                                 td(align="left" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000;")  
                                    p Cordialement, <br>L'équipe ColliShop

<!-- INTRO -->

+header--full-width-height({
title: "Jusqu’à € 100 de réduction sur les meubles de jardin",
cta: "Découvrez l'action",
link: "https://www.collishop.be/e/fr/cs/meubles-de-jardin",
img: "actie_tuinmeubelen-fr",
bgcolor: "#FFFFFF",
color: "#FFFFFF"
})

+promo-2cat({
voorvoegsel: "",
procent: "",
title: "Parasols et tonnelles",
cta: "Vers l'assortiment",
link: "https://www.collishop.be/e/fr/cs/parasols-et-tonnelles",
img: "actie_Parasols_en_Partytenten",

voorvoegsel2: "",
procent2: "",
title2: "Pots à fleurs et jardinières",
cta2: "Voir le large choix",
link2: "https://www.collishop.be/e/fr/cs/pots-a-fleurs-jardinieres-et-arrosoirs",
img2: "actie_Bloembakken_Bloempotten_en_Plantengieters",
})


+promo-A-IL-TextR_MobileBottom({
title: "Trouvez le cadeau idéal pour la fête des Pères",
subtitle: "à petit prix grâce à nos réductions",
cta: "Découvrez les idées-cadeaux",
link: "https://www.collishop.be/e/fr/cs/cadeau-fete-des-peres",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
color: "#FFFFFF"
})


+promo-4prod({
blockTitle: "Les plus chouettes cadeaux pour votre papa",

title: "De'Longhi <br>Climatiseur",
link: "https://www.collishop.be/e/fr/cs/delonghi-climatiseur-silent-pac-n90--917304--2-1",
img: "actie_Airconditioner",
price: "€ 529 ",
oldprice: "€ 599",
percentage: "12%",
sterren: 0,

title2: "Zwilling Batterie de cuisine 5 pièces",
link2: "https://www.collishop.be/e/fr/cs/zwilling-batterie-de-cuisine-5-pieces-base-299007",
img2: "actie_kookpottenset",
price2: "€ 179 ",
oldprice2: "€ 309 ",
percentage2: "42%",
sterren2: 4.5,

title3: "De'Longhi Machine à espresso automatique",
link3: "https://www.collishop.be/e/fr/cs/delonghi-machine-a-espresso-entierement-automatique-dinamica-ecam35055sb-gris-354876",
img3: "actie_espressomachine",
price3: "€ 699 ", 
oldprice3: "€849 ",
percentage3: "18%",
sterren3: 4.5,

title4: "Weber Ensemble d'accessoires",
link4: "https://www.collishop.be/e/fr/cs/weber-ensemble-daccessoires-909586",
img4: "actie_Accessoireset",
price4: "€ 49,00 ",
oldprice4: "€ 59,95 ",
percentage4: "18%",
sterren4: 4.5
})

+promo-2cat({
voorvoegsel: "",
procent: "",
title: "Poêles et casseroles",
cta: "Voir tous les modèles",
link: "https://www.collishop.be/e/fr/cs/casseroles-et-poeles",
img: "actie_Potten_en_pannen",

voorvoegsel2: "",
procent2: "",
title2: "Barbecue",
cta2: "Vers l'assortiment",
link2: "https://www.collishop.be/e/fr/cs/barbecue-bbq",
img2: "actie_Barbecue",
})

+promo-A-IL-TextR_MobileBottom({
title: "Barbecues au charbon, à gaz et accessoires Barbecook",
subtitle: "Profitez d'un moment convivial grâce à une marque de qualité ",
cta: "Découvrez tous les articles",
link: "https://www.collishop.be/e/fr/cs/marques/marque-barbecook#facet:&productBeginIndex:0&facetLimit:&orderBy:5&pageView:grid&minPrice:&maxPrice:&pageSize:&",
img: "actie_Barbecook",
bgcolor: "#83BE27", 
color: "#FFFFFF"
})

+Title({
title: "Il est temps de changer de housse de couette !",
})


+promo-D-IR_TextL_MobileTop({
title: "Housses de couette Outlet",
subTitle: 'Dernière chance de profiter <strong style="color:#ce0000">de grandes réductions dans l’Outlet</strong>',
cta: "Vers l'Outlet",
link: "https://www.collishop.be/e/fr/cs/outlet-housses-couette",
img: "actie_Dekbedovertrekken",
bgcolor: "#FED9DF",
color: "#FFFFFF"
})

+inspo-E-IL_TextR_Border_MobileBottom({
title: "5 nouvelles tendances pour votre housse de couette",
subTitle: "Changez le look de votre lit avec un chouette motif, une couleur douce ou une matière plus fine. ",
cta: "Laissez-vous inspirer",
link: "https://www.collishop.be/e/fr/cs/5-tendances-housses-de-couette",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"

    })