//- 83BE27  GROEN
//- FE7E22  ORANJE
//- FED9DF  ROZE
//- 83C8DF  BLAUW
//- E1E4E5  GRIJS

include ../includes/Headers/header--full-width-height.pug
include ../includes/Basic/Title.pug


include ../includes/Promo/promo-A-IL-TextR_MobileBottom.pug
include ../includes/Promo/promo-C-IR_TextL_MobileBottom.pug
include ../includes/Promo/promo-B-IL_TextR_MobileTop.pug
include ../includes/Promo/promo-D-IR_TextL_MobileTop.pug

include ../includes/Basic/promo-2cat.pug
include ../includes/Basic/promo-4prod.pug

include ../includes/Inspo/inspo-A-IL_TitleR_MobileBottom.pug
include ../includes/Inspo/inspo-B-IL_TitleR_MobileTop.pug
include ../includes/Inspo/inspo-C-IR_TitleL_MobileBottom.pug
include ../includes/Inspo/inspo-D-IR_TitleL_MobileTop.pug
include ../includes/Inspo/inspo-E-IL_TextR_Border_MobileBottom.pug
include ../includes/Inspo/inspo-F-IL_TextR_Border_MobileTop.pug
include ../includes/Inspo/inspo-G-IR_TextL_Border_MobileBottom.pug
include ../includes/Inspo/inspo-H-IR_TextL_Border_MobileTop.pug
include ../includes/Inspo/inspo-I-IL_TextR_MobileBottom.pug
include ../includes/Inspo/inspo-J-IL_TextR_MobileTop.pug
include ../includes/Inspo/inspo-K-IR_TextL_MobileBottom.pug
include ../includes/Inspo/inspo-L-IR_TextL_MobileTop.pug

<!-- INTRO -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="left" valign="top" class="td-padding-inner" style="padding:25px 0 25px 0;")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0")
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:30px; color:#000000; font-weight:bold; padding-bottom:10px;") Beste klant,
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000; margin-bottom: 10px;") Mis geen enkele zonnestraal deze zomer en geniet van onze actie op tuinmeubelen.
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000;") XXL-bestellingen (zoals dus tuinmeubelen of een schommel, een gasbarbecue…) leveren we gratis aan huis vanaf € 250. Voor kleine producten is de thuislevering gratis vanaf € 60.

                            tr
                                 td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000;")  
                                    p Groeten, <br>Het ColliShop-team

<!-- INTRO -->

+header--full-width-height({
title: "Profiteer van € 25 korting bij aankopen vanaf € 250 en van € 100 korting vanaf € 500.",
cta: "Ontdek de collectie",
link: "https://www.collishop.be/e/nl/cs/tuinmeubelen",
img: "actie_tuinmeubelen-nl",
bgcolor: "#FFFFFF",
color: "#FFFFFF"
})

+promo-2cat({
voorvoegsel: "",
procent: "",
title: "Parasols en partytenten",
cta: "Naar het aanbod",
link: "https://www.collishop.be/e/nl/cs/parasols-en-partytenten",
img: "actie_Parasols_en_Partytenten",

voorvoegsel2: "",
procent2: "",
title2: "Bloempotten, bloembakken en plantengieters",
cta2: "Maak je keuze",
link2: "https://www.collishop.be/e/nl/cs/bloembakken-bloempotten-en-plantengieters",
img2: "actie_Bloembakken_Bloempotten_en_Plantengieters",
})


+promo-A-IL-TextR_MobileBottom({
title: "Vind het ideale cadeau voor Vaderdag",
subtitle: "Kleine prijzen, grote kortingen",
cta: "Dit zijn onze cadeautips",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
color: "#FFFFFF"
})


+promo-4prod({
blockTitle: "De leukste cadeaus voor je papa",

title: "De'Longhi Airconditioner",
link: "https://www.collishop.be/e/nl/cs/delonghi-airconditioner-silent-pac-n90--917304--11-1",
img: "actie_Airconditioner",
price: "€ 529 ",
oldprice: "€ 599",
percentage: "12%",
sterren: 0,

title2: "Zwilling Pottenset 5-delig",
link2: "https://www.collishop.be/e/nl/cs/zwilling-5-delige-kookpottenset-base-299007",
img2: "actie_kookpottenset",
price2: "€ 179 ",
oldprice2: "€ 309 ",
percentage2: "42%",
sterren2: 4.5,

title3: "De'Longhi Espressomachine",
link3: "https://www.collishop.be/e/nl/cs/delonghi-volautomatische-espressomachine-dinamica-ecam35055sb-grijs-354876",
img3: "actie_espressomachine",
price3: "€ 699 ", 
oldprice3: "€849 ",
percentage3: "18%",
sterren3: 0,

title4: "Weber Accessoireset",
link4: "https://www.collishop.be/e/nl/cs/weber-accessoireset-909586",
img4: "actie_Accessoireset",
price4: "€ 49,00 ",
oldprice4: "€ 59,95 ",
percentage4: "18%",
sterren4: 5
})

+promo-2cat({
voorvoegsel: "",
procent: "",
title: "Potten en pannen",
cta: "Bekijk ze allemaal",
link: "https://www.collishop.be/e/nl/cs/potten-en-pannen",
img: "actie_Potten_en_pannen",

voorvoegsel2: "",
procent2: "",
title2: "Barbecue",
cta2: "Vind een passend model",
link2: "https://www.collishop.be/e/nl/cs/barbecue",
img2: "actie_Barbecue",
})

+promo-A-IL-TextR_MobileBottom({
title: "Houtskool-, gasbarbecues en accessoires van Barbecook",
subtitle: "Topkwaliteit voor een gezellige barbecue! ",
cta: "Alles van Barbecook",
link: "https://www.collishop.be/e/nl/cs/merken/merk-barbecook?#facet:&productBeginIndex:0&facetLimit:&orderBy:5&pageView:grid&minPrice:&maxPrice:&pageSize:&",
img: "actie_Barbecook",
bgcolor: "#83BE27", 
color: "#FFFFFF"
})

+Title({
title: "Hoog tijd om van dekbedovertrek te wisselen!",
})


+promo-D-IR_TextL_MobileTop({
title: "Dekbedovertrekken",
subTitle: "Grijp je laatste kans en profiteer van straffe prijzen in onze Outlet",
cta: "Ga naar de Outlet",
link: "https://www.collishop.be/e/nl/cs/outlet-dekbedovertrekken",
img: "actie_Dekbedovertrekken",
bgcolor: "#FED9DF",
color: "#FFFFFF"
})

+inspo-E-IL_TextR_Border_MobileBottom({
title: "Zin in een nieuw dekbedovertrek?",
subTitle: "Dit zijn de 5 trends in dromenland!",
cta: "Laat je inspireren",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"

    })







///? BLOCK SHOWCASE


+Title({
title: "inspo-A-IL_TitleR_MobileBottom",
})

+inspo-A-IL_TitleR_MobileBottom({
title: "Zin in een nieuw dekbedovertrek?",
subTitle: "Dit zijn de 5 trends in dromenland!",
cta: "Laat je inspireren",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"

})
    
+Title({
title: "inspo-B-IL_TitleR_MobileTop",
})

+inspo-B-IL_TitleR_MobileTop({
title: "Zin in een nieuw dekbedovertrek?",
subTitle: "Dit zijn de 5 trends in dromenland!",
cta: "Laat je inspireren",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"

})
    
+Title({
title: "inspo-C-IR_TitleL_MobileBottom",
})

+inspo-C-IR_TitleL_MobileBottom({
title: "Zin in een nieuw dekbedovertrek?",
subTitle: "Dit zijn de 5 trends in dromenland!",
cta: "Laat je inspireren",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"

})
    
+Title({
title: "inspo-D-IR_TitleL_MobileTop",
})

+inspo-D-IR_TitleL_MobileTop({
title: "Zin in een nieuw dekbedovertrek?",
subTitle: "Dit zijn de 5 trends in dromenland!",
cta: "Laat je inspireren",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"

})
    
+Title({
title: "inspo-E-IL_TextR_Border_MobileBottom",
})

+inspo-E-IL_TextR_Border_MobileBottom({
title: "Zin in een nieuw dekbedovertrek?",
subTitle: "Dit zijn de 5 trends in dromenland!",
cta: "Laat je inspireren",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"

})
    
+Title({
title: "inspo-F-IL_TextR_Border_MobileTop",
})

+inspo-F-IL_TextR_Border_MobileTop({
title: "Zin in een nieuw dekbedovertrek?",
subTitle: "Dit zijn de 5 trends in dromenland!",
cta: "Laat je inspireren",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"

})
    
+Title({
title: "inspo-G-IR_TextL_Border_MobileBottom",
})

+inspo-G-IR_TextL_Border_MobileBottom({
title: "Zin in een nieuw dekbedovertrek?",
subTitle: "Dit zijn de 5 trends in dromenland!",
cta: "Laat je inspireren",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"

})
    
+Title({
title: "inspo-H-IR_TextL_Border_MobileTop",
})

+inspo-H-IR_TextL_Border_MobileTop({
title: "Zin in een nieuw dekbedovertrek?",
subTitle: "Dit zijn de 5 trends in dromenland!",
cta: "Laat je inspireren",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"

})
    
+Title({
title: "inspo-I-IL_TextR_MobileBottom",
})

+inspo-I-IL_TextR_MobileBottom({
title: "Zin in een nieuw dekbedovertrek?",
subTitle: "Dit zijn de 5 trends in dromenland!",
cta: "Laat je inspireren",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"

})
    
+Title({
title: "inspo-J-IL_TextR_MobileTop",
})

+inspo-J-IL_TextR_MobileTop({
title: "Zin in een nieuw dekbedovertrek?",
subTitle: "Dit zijn de 5 trends in dromenland!",
cta: "Laat je inspireren",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"

})
    
+Title({
title: "inspo-K-IR_TextL_MobileBottom",
})

+inspo-K-IR_TextL_MobileBottom({
title: "Zin in een nieuw dekbedovertrek?",
subTitle: "Dit zijn de 5 trends in dromenland!",
cta: "Laat je inspireren",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"

})
    
+Title({
title: "inspo-L-IR_TextL_MobileTop",
})

+inspo-L-IR_TextL_MobileTop({
title: "Zin in een nieuw dekbedovertrek?",
subTitle: "Dit zijn de 5 trends in dromenland!",
cta: "Laat je inspireren",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"

})
