//- 83BE27  GROEN
//- FE7E22  ORANJE
//- FED9DF  ROZE
//- 83C8DF  BLAUW
//- E1E4E5  GRIJS
include ../includes/Headers/header--full-width-height.pug
include ../includes/Basic/Title.pug


include ../includes/Promo/promo-A-IL-TextR_MobileBottom.pug
include ../includes/Promo/promo-C-IR_TextL_MobileBottom.pug
include ../includes/Promo/promo-B-IL_TextR_MobileTop.pug
include ../includes/Promo/promo-D-IR_TextL_MobileTop.pug

include ../includes/Basic/promo-2cat.pug
include ../includes/Basic/promo-4prod.pug
include ../includes/Basic/promo-2prod.pug

include ../includes/Inspo/inspo-A-IL_TitleR_MobileBottom.pug
include ../includes/Inspo/inspo-B-IL_TitleR_MobileTop.pug
include ../includes/Inspo/inspo-C-IR_TitleL_MobileBottom.pug
include ../includes/Inspo/inspo-D-IR_TitleL_MobileTop.pug
include ../includes/Inspo/inspo-E-IL_TextR_Border_MobileBottom.pug
include ../includes/Inspo/inspo-F-IL_TextR_Border_MobileTop.pug
include ../includes/Inspo/inspo-G-IR_TextL_Border_MobileBottom.pug
include ../includes/Inspo/inspo-H-IR_TextL_Border_MobileTop.pug
include ../includes/Inspo/inspo-I-IL_TextR_MobileBottom.pug
include ../includes/Inspo/inspo-J-IL_TextR_MobileTop.pug
include ../includes/Inspo/inspo-K-IR_TextL_MobileBottom.pug
include ../includes/Inspo/inspo-L-IR_TextL_MobileTop.pug

<!-- PROMOCODE -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:25px 0 25px 0;")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FDD01A")
                tr
                    td(align="center" valign="top" style="padding:25px 60px 25px 60px;")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FDD01A")
                            tr
                                td(align="center" valign="top" style="padding-bottom: 15px;")
                                    a(href="www.collishop.be/e/fr/cs/sacs-poubelles" name="FILLME" target="_blank" xt="SPCLICKSTREAM" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:24px; line-height:28px; color:#000000; text-decoration: none;") <span style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:24px; line-height:28px; color:#000000; text-decoration: none; font-weight: bold;">Réduction exclusive: jusqu'a -15%</span> sur tous les sacs-poubelles Brabantia avec le code suivant
                            tr
                                td(align="center" valign="top")
                                    table(bgcolor="#CAA614" style="border-radius: 22px;")
                                        tr
                                            td(align="center" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:23px; font-weight:bold; color:#FFFFFF; padding:10px 30px 10px 30px; text-decoration: none;") B222
                            //tr
                                td(align="center" valign="top" style="padding: 15px 0 0 5px;")
                                    a(href="https://www.collishop.be/e/nl/cs/vuilniszakken" name="FILLME" target="_blank" xt="SPCLICKSTREAM" style="color:#000000; text-decoration:none;")    
                                        table(border="0" cellspacing="0" cellpadding="0")
                                            tr
                                                td(align="left" valign="top" width="16" style="padding-right:10px;")
                                                    img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/arrow-icon-red.png" width="16" height="16" alt="" border="0" style="display:block;")
                                                td(align="center" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:14px; line-height:17px; color:#000000; display: inline") Grijp je kans
<!-- PROMOCODE -->
+header--full-width-height({
title: "",
subTitle: "Jusqu'a  <span style='display: inline-block; font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:70px; line-height:82px; font-weight: bold; color: #D20000;' class='fs-50'>- 15 %</span> <br>à l'achat de sacs-poubelles Brabantia",
cta: "Choisissez les sacs qui vous conviennent",
link: "https://www.collishop.be/e/fr/cs/sacs-poubelles",
img: "header1",
bgcolor: "#FFFFFF",
color: "#FFFFFF"
})

+Title({
title: "Recevez 10 % de réduction à l'achat d'un paquet de sacs-poubelles Brabantia et - 15 % à partir de 2 paquets !",
})




+promo-A-IL-TextR_MobileBottom({
title: "Poubelles Brabantia:",
subtitle: "Pour chaque intérieur, une poubelle convient !",
cta: "Vers l'assortiment",
link: "https://www.collishop.be/e/fr/cs/sacs-poubelles",
img: "Brabantia_Vuilnisbakken",
bgcolor: "#E1E4E5",
color: "#FFFFFF"
})


+promo-D-IR_TextL_MobileTop({
title: "Boîtes de conservation Brabantia",
subTitle: "Une solution pleine de style pour stocker vos aliments",
cta: "Voir les différents modèles",
link: "https://www.collishop.be/e/fr/cs/boites-de-conservation-et-a-provisions/marque-brabantia",
img: "Brabantia_Voorraaddozen",
bgcolor: "#FE7E22", 
color: "#FFFFFF"
})



+promo-A-IL-TextR_MobileBottom({
title: "Planches à repasser Brabantia",
subtitle: "Repassez avec confort et efficacité",
cta: "Choisissez votre motif favori",
link: "https://www.collishop.be/e/fr/cs/planches-a-repasser/marque-brabantia",
img: "Brabantia_Strijkplanken",
bgcolor: "#E1E4E5",
color: "#FFFFFF"
})

+promo-D-IR_TextL_MobileTop({
title: "Séchoirs-parapluies Brabantia",
subTitle: "Faire sécher son linge à l'air libre, c'est plus écologique et économique !",
cta: "Découvrez tous les modèles",
link: "https://www.collishop.be/e/fr/cs/sechoirs-parapluies/marque-brabantia",
img: "Brabantia_Droogmolens",
bgcolor: "#FED9DF", 
color: "#FFFFFF"
})

<!-- BESTELLEN BLOK -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 0 0")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="left" valign="top" style="padding:25px 25px 40px 25px; border-top: 2px solid #EAEDEE;" class="td-padding-inner")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                            tr
                                td(align="center" valign="top" class="pt-25" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #000000; font-size: 24px; line-height: 28px; text-decoration: none; padding-bottom: 15px;") Comment bénéficier de votre réduction ?
                            tr
                                td(align="center" valign="top")
                                    table(align="left" width="32%" border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="center" valign="top")
                                                table(width="100%" border="0" cellspacing="0" cellpadding="0" class="img-full")
                                                    tr
                                                        td(align="center" valign="top" style="padding-bottom:10px;")
                                                            a(href="https://www.collishop.be/e/fr/cs" name="korting_verzilveren_collishop" target="_blank" xt="SPCLICKSTREAM")
                                                                img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/icon-5.jpg" width="62" height="52" alt="#ALT" border="0" style="display:block; width: 62px;")
                                                    tr
                                                        td(align="center" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:18px; font-weight:bold; color:#333333; padding:0px 0 20px 0;")
                                                            a(href="https://www.collishop.be/e/fr/cs" name="korting_verzilveren_collishop" target="_blank" xt="SPCLICKSTREAM" style="color:#333333; text-decoration:none;") 1.	- 10% à l'achat de 1 paquet de sacs-poubelles et - 15% à partir de 2 paquets

                                    table(align="left" width="32%" border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="center" valign="top")
                                                <!-- PRODUCT -->
                                                table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                                    tr
                                                        td(align="center" valign="top" style="padding-bottom:10px;")
                                                            a(href="https://www.collishop.be/e/fr/cs" name="korting_verzilveren_collishop" target="_blank" xt="SPCLICKSTREAM")
                                                                img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/icon-6.jpg" width="62" height="52" alt="#ALT" border="0" style="display:block; width: 62px;")
                                                    tr
                                                        td(align="center" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:18px; font-weight:bold; color:#333333; padding:0px 0 20px 0;")
                                                            a(href="https://www.collishop.be/e/fr/cs" name="korting_verzilveren_collishop" target="_blank" xt="SPCLICKSTREAM" style="color:#333333; text-decoration:none;") 2.	La réduction est automatiquement déduite dans votre panier
                                                <!-- PRODUCT -->
                                    table(align="left" width="32%" border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="center" valign="top")
                                                <!-- PRODUCT -->
                                                table(width="100%" border="0" cellspacing="0" cellpadding="0" class="img-full")
                                                    tr
                                                        td(align="center" valign="top" style="padding-bottom:10px;")
                                                            a(href="https://www.collishop.be/e/fr/cs" name="korting_verzilveren_collishop" target="_blank" xt="SPCLICKSTREAM")
                                                                img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/icon-7.jpg" width="62" height="52" alt="#ALT" border="0" style="display:block; width: 62px;")
                                                    tr
                                                        td(align="center" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:18px; font-weight:bold; color:#333333; padding:0px 0 20px 0;")
                                                            a(href="https://www.collishop.be/e/fr/cs" name="korting_verzilveren_collishop" target="_blank" xt="SPCLICKSTREAM" style="color:#333333; text-decoration:none;") 3.	Passez votre commande
                                                <!-- PRODUCT -->
                            tr
                                td(align="center" valign="top" style="padding:0 25px 0 25px;")
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                        tr
                                            td(align="center" valign="middle")
                                                table(border="0" cellspacing="0" cellpadding="0" style="display: inline;")
                                                    tr
                                                        td(align="center" valign="middle" width="16" style="padding-right:10px;")
                                                            img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/arrow-icon-blue.png" width="16" height="16" alt="" border="0" style="display:block;")
                                                        td(align="center" valign="middle" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:14px; line-height:22px; color:#0098DA; display: inline")
                                                            a(href="https://www.collishop.be/e/fr/cs" name="korting_verzilveren_collishop" target="_blank" xt="SPCLICKSTREAM" style="color:#0098DA; text-decoration:none;") Je profite de ce deal
<!-- BESTELLEN BLOK -->