//- 83BE27
//- FE7E22
//- FED9DF
include ../includes/Headers/header--full-width-height.pug
include ../includes/Basic/Title.pug
include ../includes/Basic/promo-2cat.pug
include ../includes/Promo/promo-A-IL-TextR_MobileBottom.pug
include ../includes/Promo/promo-C-IR_TextL_MobileBottom.pug
include ../includes/Basic/promo-4prod.pug
include ../includes/Inspo/inspo-H-IR_TextL_Border_MobileTop.pug
include ../includes/Promo/promo-B-IL_TextR_MobileTop.pug

<!-- INTRO -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="left" valign="top" class="td-padding-inner" style="padding:25px 0 25px 0;")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0")
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:30px; color:#000000; font-weight:bold; padding-bottom:10px;") Beste klant,
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000; margin-bottom: 10px;") Waar je papa ook van houdt, bij ColliShop vind je het perfecte cadeau om hem op Vaderdag eens lekker te verwennen. 
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000;") Maar denk eraan: stel je bestelling niet te lang uit, zodat we je pakje nog op tijd kunnen leveren.

                            tr
                                 td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000;")  
                                    p Groeten, <br>Het ColliShop-team

<!-- INTRO -->

+header--full-width-height({
title: "Geniet van de promo's op onze cadeauselectie",
cta: "Vind het perfecte cadeau",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#FFFFFF",
color: "#FFFFFF"
})


+Title({
title: "Kroon je papa tot de koning van de BBQ!",
})

+promo-2cat({
voorvoegsel: "",
procent: "",
title: "Gasbarbecues",
cta: "Kies een passend model",
link: "https://www.collishop.be/e/nl/cs/gasbarbecues",
img: "actie_gasbbq",


voorvoegsel2: "",
procent2: "",
title2: "Houtskoolbarbecues",
cta2: "Ontdek ze allemaal",
link2: "https://www.collishop.be/e/nl/cs/houtskoolbarbecues",
img2: "actie_houtbbq",
})

+promo-2cat({
voorvoegsel: "",
procent: "",
title: "Braadpannen",
cta: "Naar ons aanbod",
link: "https://www.collishop.be/e/nl/cs/braadpannen",
img: "actie_braadpan",

voorvoegsel2: "",
procent2: "",
title2: "Barbecue-accessoires",
cta2: "Maak je keuze",
link2: "https://www.collishop.be/e/nl/cs/accessoires-barbecue",
img2: "actie_bbq_accesoires",
})

+promo-4prod({
blockTitle: "Zit hier misschien een leuk cadeau tussen voor jouw papa?",


title: "Domo Elektrische barbecue",
link: "https://www.collishop.be/e/nl/cs/domo-elektrische-barbecue-do9049bq-216645",
img: "actie_topper1",
price: "€ 69,99 ",
oldprice: "€ 99,95",
percentage: "30%",
sterren: 5,

title2: "Braun Scheerapparaat",
link2: "https://www.collishop.be/e/nl/cs/braun-scheerapparaat-series-3-proskin-3020s-special-pack-303131",
img2: "actie_topper2",
price2: "€ 84,99 ",
oldprice2: "€ 99,95 ",
percentage2: "15%",
sterren2: 4.5,

title3: "Nova Teppanyaki",
link3: "https://www.collishop.be/e/nl/cs/nova-teppanyaki-table-chef-elipse-354887--11",
img3: "actie_topper3",
price3: "€ 49,99 ", 
oldprice3: "€89,95 ",
percentage3: "44%",
sterren3: 5,

title4: "Climadiff Polyvalente wijnkast",
link4: "https://www.collishop.be/e/nl/cs/climadiff-polyvalente-wijnkast-pclp205-354416",
img4: "actie_topper4",
price4: "€ 799,00 ",
oldprice4: "€ 1.149,00 ",
percentage4: "30%",
sterren4: 5
})


+Title({
title: "Is jouw papa dol op koffie?",
})

+promo-A-IL-TextR_MobileBottom({
title: "Espressomachines",
subtitle: "Dit zijn de favorieten van onze klanten",
cta: "Bekijk onze topmodellen",
link: "https://www.collishop.be/e/nl/cs/espressomachines?#facet:409927646082223422653,4099276460822234226524653,409927646082223422652&productBeginIndex:0&facetLimit:&orderBy:5&pageView:grid&minPrice:&maxPrice:&pageSize:&s",
img: "actie_espresso",
bgcolor: "#83C8DF", 
color: "#FFFFFF"
})





+Title({
title: "Voor de verzorgde papa's",
})

+promo-B-IL_TextR_MobileTop({
title: "Scheermachines en baardtrimmers",
subTitle: "Met deze klassieker scoor je altijd!",
cta: "Kies een passend apparaat",
link: "https://www.collishop.be/e/nl/cs/scheren-en-ontharen",
img: "actie_scheermachine",
bgcolor: "#E1E4E5",
color: "#FFFFFF"
})


+promo-4prod({
blockTitle: "Nog een paar leuke cadeautips",

title: "Cosy & Trendy Lederen keukenschort",
link: "https://www.collishop.be/e/nl/cs/cosy-en-trendy-keukenschort-leder-donkerbruin-87-x-61-cm-347385",
img: "actie_topper5",
price: "€54,95 ",
oldprice: "",
percentage: "",
sterren: 4.5,

title2: "Zwilling 3-delige messenset Four Star",
link2: "https://www.collishop.be/e/nl/cs/zwilling-3-delige-messenset-four-star-347660",
img2: "actie_topper6",
price2: "€ 139,00 ",
oldprice2: "€ 189,00 ",
percentage2: "26%",
sterren2: 0,

title3: "Point Virgule Wijnkoeler",
link3: "https://www.collishop.be/e/nl/cs/point-virgule-wijnkoeler-en-schenktuit-30-cm-364863",
img3: "actie_topper7",
price3: "€ 12,95 ",
oldprice3: "€ 19,95 ",
percentage3: "35% ",
sterren3: 4.5,

title4: "Libbey 12 whiskyglazen",
link4: "https://www.collishop.be/e/nl/cs/libbey-12-whiskyglazen-hobstar-35-cl-364391",
img4: "actie_topper8",
price4: "€ 39,95 ",
oldprice4: "€ 49,95 ",
percentage4: "20% ",
sterren4: 4.5
})


+Title({
title: "Leuke cadeaus voor de bezige bij of de handige Harry",
})

+promo-A-IL-TextR_MobileBottom({
title: "Hogedrukreinigers",
subtitle: "Altijd een propere auto, terras, caravan of zwembad",
cta: "Al onze hogedrukreinigers",
link: "https://www.collishop.be/e/nl/cs/hogedrukreinigers",
img: "actie_karcher",
bgcolor: "#FDD01A"
})

+promo-C-IR_TextL_MobileBottom({
title: "Tuinberging",
subtitle: "Opgeruimd staat netjes, ook in de tuin!",
cta: "Ontdek al onze bergingen",
link: "https://www.collishop.be/e/nl/cs/tuinberging",
img: "actie_berging",
bgcolor: "#83C8DF"
})

//-+Title({
//-title: "Hou het binnen lekker fris deze zomer",
//-})

+promo-C-IR_TextL_MobileBottom({
title: "Serres",
subtitle: "Voor papa's met groene vingers",
cta: "Naar ons assortiment",
link: "https://www.collishop.be/e/nl/cs/serres",
img: "actie_serre",
bgcolor: "#83BE27"
})