//- 83BE27  GROEN
//- FE7E22  ORANJE
//- FED9DF  ROZE
//- 83C8DF  BLAUW
//- E1E4E5  GRIJS

include ../includes/Headers/header--full-width-height.pug
include ../includes/Basic/Title.pug

include ../includes/Special/promocode.pug


include ../includes/Promo/promo-A-IL-TextR_MobileBottom.pug
include ../includes/Promo/promo-C-IR_TextL_MobileBottom.pug
include ../includes/Promo/promo-B-IL_TextR_MobileTop.pug
include ../includes/Promo/promo-D-IR_TextL_MobileTop.pug

include ../includes/Basic/promo-2cat.pug
include ../includes/Basic/promo-4prod.pug

include ../includes/Inspo/inspo-A-IL_TitleR_MobileBottom.pug
include ../includes/Inspo/inspo-B-IL_TitleR_MobileTop.pug
include ../includes/Inspo/inspo-C-IR_TitleL_MobileBottom.pug
include ../includes/Inspo/inspo-D-IR_TitleL_MobileTop.pug
include ../includes/Inspo/inspo-E-IL_TextR_Border_MobileBottom.pug
include ../includes/Inspo/inspo-F-IL_TextR_Border_MobileTop.pug
include ../includes/Inspo/inspo-G-IR_TextL_Border_MobileBottom.pug
include ../includes/Inspo/inspo-H-IR_TextL_Border_MobileTop.pug
include ../includes/Inspo/inspo-I-IL_TextR_MobileBottom.pug
include ../includes/Inspo/inspo-J-IL_TextR_MobileTop.pug
include ../includes/Inspo/inspo-K-IR_TextL_MobileBottom.pug
include ../includes/Inspo/inspo-L-IR_TextL_MobileTop.pug

<!-- INTRO -->
+header--full-width-height({
title: " test",
cta: "test",
link: "https://www.collishop.be/e/nl/cs",
img: "Birthday_campaign-bijna-header",
bgcolor: "#FFFFFF",
color: "#FFFFFF"
})

table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="left" valign="top" class="td-padding-inner" style="padding:25px 0 0 0;")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0")
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:30px; color:#000000; font-weight:bold; padding-bottom:10px;") Je bent bijna jarig, "perso voornaam"…
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000; margin-bottom: 10px;") En, al plannen gemaakt om dat te vieren? Wat je ook doet, wij hebben  alvast een paar leuke suggesties om jezelf op te trakteren.
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000; margin-bottom: 10px;") We geven je dan ook graag € 5 korting op jouw volgende bestelling, dat maakt het winkelen extra leuk.
                            //-tr
                                 td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000;")  
                                    p Groeten, <br>Het ColliShop-team

<!-- INTRO -->

+promocode({
title: "Speciaal voor jou: € 5 korting",
promocode: "AEI148DSS",
cta: "Neem je korting",
link: "https://www.collishop.be/e/nl/cs",
img: "Birthday_campaign-bijna-header",
bgcolor: "#F6CF7A",
color: "#FFFFFF"

})

+inspo-L-IR_TextL_MobileTop({
title: "Geef een etentje thuis",
subTitle: "Hier vind je alles wat je nodig hebt om in stijl uit te pakken bij je gasten.  ",
cta: "Ja, dat doe ik!",
link: "https://www.collishop.be/e/nl/cs/koken-en-tafelen",
img: "koken_en_tafelen",
bgcolor: "#FFFFFF",
color: "#FFFFFF"

<<<<<<< Updated upstream
})

+inspo-L-IR_TextL_MobileTop({
title: "Slaap eens lekker uit",
subTitle: "Kom even helemaal tot rust en geniet van me-time onder de lakens met deze topselectie.",
cta: "Oké, ik blijf in bed",
link: "https://www.collishop.be/e/nl/cs/goed-slapen",
img: "slapen",
bgcolor: "#FFFFFF",
color: "#FFFFFF"
=======


+Title({
title: "promo-A-IL-TextR_MobileBottom",
})
+promo-A-IL-TextR_MobileBottom({
title: "Gratis ijsmaker + receptenboekje",
subtitle: "b.a.v. een AEG keukenrobot uit onze selectie",
cta: "Bekijk de selectie",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
})

+Title({
title: "promo-B-IL_TextR_MobileTop",
})
+promo-B-IL_TextR_MobileTop({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z y z a b c d e f g ",
subtitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m ",
cta: "Bekijk de selectie",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
})

+Title({
title: "promo-C-IR_TextL_MobileBottom",
})
+promo-C-IR_TextL_MobileBottom({
title: "Gratis ijsmaker + receptenboekje",
subtitle: "b.a.v. een AEG keukenrobot uit onze selectie",
cta: "Bekijk de selectie",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
})

+Title({
title: "promo-D-IR_TextL_MobileTop",
})
+promo-D-IR_TextL_MobileTop({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z y z a b c d e f g ",
subtitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m ",
cta: "Bekijk de selectie",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
})

+Title({
title: "promo-E-IL_TitleR_MobileBottom",
})

+promo-E-IL_TitleR_MobileBottom({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z y z a b c d e f g ",
subtitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m ",
cta: "Bekijk de selectie",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#333333", 
})


+Title({
title: "promo-F-IL_TitleR_MobileTop",
})


+promo-F-IL_TitleR_MobileTop({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z y z a b c d e f g ",
subtitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m ",
cta: "Bekijk de selectie",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
})

+Title({
title: "promo-G-IR_TitleL_MobileBottom",
})

+promo-G-IR_TitleL_MobileBottom({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z y z a b c d e f g ",
subtitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m ",
cta: "Bekijk de selectie",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
})

+Title({
title: "promo-H-IR_TitleL_MobileTop",
})

+promo-H-IR_TitleL_MobileTop({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z y z a b c d e f g ",
subtitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m ",
cta: "Bekijk de selectie",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
})

+Title({
title: "promo-Prod_Red-IL",
})

+promo-Prod_Red-IL({
blockTitle: "Tis a block title",
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z y z a b c d e f g ",
subtitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m ",
sterren: 5,
price: "115",
oldprice: "250",
percentage: "45%",
cta: "Bekijk de selectie",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
})

+Title({
title: "promo-Prod_Red-IR",
})

+promo-Prod_Red-IR({
blockTitle: "Tis a block title",
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z y z a b c d e f g ",
subtitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m ",
sterren: 5,
price: "115",
oldprice: "250",
percentage: "45%",
cta: "Bekijk de selectie",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
})









+Title({
title: "omo-4prod",
})

+promo-4prod({
blockTitle: "",

title: "a b c d e f g h i j k l m n o p q r s t u v w x y",
link: "https://www.collishop.be/e/nl/cs/delonghi-airconditioner-silent-pac-n90--917304--11-1",
img: "actie_Airconditioner",
price: "€ 529 ",
oldprice: "€ 599",
percentage: "12%",
sterren: 0,

title2: "a b c d e f g h i j k l m n o p q r s t u v w x y",
link2: "https://www.collishop.be/e/nl/cs/zwilling-5-delige-kookpottenset-base-299007",
img2: "actie_kookpottenset",
price2: "€ 179 ",
oldprice2: "€ 309 ",
percentage2: "42%",
sterren2: 4.5,

title3: "a b c d e f g h i j k l m n o p q r s t u v w x y",
link3: "https://www.collishop.be/e/nl/cs/delonghi-volautomatische-espressomachine-dinamica-ecam35055sb-grijs-354876",
img3: "actie_espressomachine",
price3: "€ 699 ", 
oldprice3: "€849 ",
percentage3: "18%",
sterren3: 0,
>>>>>>> Stashed changes

})

+inspo-L-IR_TextL_MobileTop({
title: "Winkel met promoties",
subTitle: "Hier vind je al onze acties en kortingen van het moment.  ",
cta: "Oké, ik ga ervoor!",
link: "https://www.collishop.be/e/nl/cs/overzicht-acties",
img: "promoties",
bgcolor: "#FFFFFF",
color: "#FFFFFF"

})