//- 83BE27  GROEN
//- FE7E22  ORANJE
//- FED9DF  ROZE
//- 83C8DF  BLAUW
//- E1E4E5  GRIJS

include ../includes/Headers/header--full-width-height.pug
include ../includes/Basic/Title.pug

include ../includes/Special/promocode.pug


include ../includes/Promo/promo-A-IL-TextR_MobileBottom.pug
include ../includes/Promo/promo-C-IR_TextL_MobileBottom.pug
include ../includes/Promo/promo-B-IL_TextR_MobileTop.pug
include ../includes/Promo/promo-D-IR_TextL_MobileTop.pug

include ../includes/Basic/promo-2cat.pug
include ../includes/Basic/promo-4prod.pug

include ../includes/Inspo/inspo-A-IL_TitleR_MobileBottom.pug
include ../includes/Inspo/inspo-B-IL_TitleR_MobileTop.pug
include ../includes/Inspo/inspo-C-IR_TitleL_MobileBottom.pug
include ../includes/Inspo/inspo-D-IR_TitleL_MobileTop.pug
include ../includes/Inspo/inspo-E-IL_TextR_Border_MobileBottom.pug
include ../includes/Inspo/inspo-F-IL_TextR_Border_MobileTop.pug
include ../includes/Inspo/inspo-G-IR_TextL_Border_MobileBottom.pug
include ../includes/Inspo/inspo-H-IR_TextL_Border_MobileTop.pug
include ../includes/Inspo/inspo-I-IL_TextR_MobileBottom.pug
include ../includes/Inspo/inspo-J-IL_TextR_MobileTop.pug
include ../includes/Inspo/inspo-K-IR_TextL_MobileBottom.pug
include ../includes/Inspo/inspo-L-IR_TextL_MobileTop.pug

<!-- INTRO -->
+header--full-width-height({
title: " test",
cta: "test",
link: "https://www.collishop.be/e/nl/cs",
img: "Birthday_campaign-bijna-header",
bgcolor: "#FFFFFF",
color: "#FFFFFF"
})

table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="left" valign="top" class="td-padding-inner" style="padding:25px 0 0 0;")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0")
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:30px; color:#000000; font-weight:bold; padding-bottom:10px;") Je bent bijna jarig, "perso voornaam"…
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000; margin-bottom: 10px;") En, al plannen gemaakt om dat te vieren? Wat je ook doet, wij hebben  alvast een paar leuke suggesties om jezelf op te trakteren.
                                                        tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000; margin-bottom: 10px;") We geven je dan ook graag € 5 korting op jouw volgende bestelling, dat maakt het winkelen extra leuk.
                            //-tr
                                 td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#000000;")  
                                    p Groeten, <br>Het ColliShop-team

<!-- INTRO -->

+promocode({
title: "Speciaal voor jou: € 5 korting",
promocode: "AEI148DSS",
cta: "Neem je korting",
link: "https://www.collishop.be/e/nl/cs",
img: "Birthday_campaign-bijna-header",
bgcolor: "#F6CF7A",
color: "#FFFFFF"

})

+inspo-L-IR_TextL_MobileTop({
title: "Geef een etentje thuis",
subTitle: "Hier vind je alles wat je nodig hebt om in stijl uit te pakken bij je gasten.  ",
cta: "Ja, dat doe ik!",
link: "https://www.collishop.be/e/nl/cs/koken-en-tafelen",
img: "koken_en_tafelen",
bgcolor: "#FFFFFF",
color: "#FFFFFF"

})

+inspo-L-IR_TextL_MobileTop({
title: "Slaap eens lekker uit",
subTitle: "Kom even helemaal tot rust en geniet van me-time onder de lakens met deze topselectie.",
cta: "Oké, ik blijf in bed",
link: "https://www.collishop.be/e/nl/cs/goed-slapen",
img: "slapen",
bgcolor: "#FFFFFF",
color: "#FFFFFF"

})

+inspo-L-IR_TextL_MobileTop({
title: "Winkel met promoties",
subTitle: "Hier vind je al onze acties en kortingen van het moment.  ",
cta: "Oké, ik ga ervoor!",
link: "https://www.collishop.be/e/nl/cs/wonen",
img: "promoties",
bgcolor: "#FFFFFF",
color: "#FFFFFF"

})