//- 83BE27  GROEN
//- FE7E22  ORANJE
//- FED9DF  ROZE
//- 83C8DF  BLAUW
//- E1E4E5  GRIJS

include ../includes/Headers/header--full-width-height.pug
include ../includes/Basic/Title.pug


include ../includes/Promo/promo-A-IL-TextR_MobileBottom.pug
include ../includes/Promo/promo-C-IR_TextL_MobileBottom.pug
include ../includes/Promo/promo-B-IL_TextR_MobileTop.pug
include ../includes/Promo/promo-D-IR_TextL_MobileTop.pug

include ../includes/Basic/promo-2cat.pug
include ../includes/Basic/promo-4prod.pug

include ../includes/Inspo/inspo-A-IL_TitleR_MobileBottom.pug
include ../includes/Inspo/inspo-B-IL_TitleR_MobileTop.pug
include ../includes/Inspo/inspo-C-IR_TitleL_MobileBottom.pug
include ../includes/Inspo/inspo-D-IR_TitleL_MobileTop.pug
include ../includes/Inspo/inspo-E-IL_TextR_Border_MobileBottom.pug
include ../includes/Inspo/inspo-F-IL_TextR_Border_MobileTop.pug
include ../includes/Inspo/inspo-G-IR_TextL_Border_MobileBottom.pug
include ../includes/Inspo/inspo-H-IR_TextL_Border_MobileTop.pug
include ../includes/Inspo/inspo-I-IL_TextR_MobileBottom.pug
include ../includes/Inspo/inspo-J-IL_TextR_MobileTop.pug
include ../includes/Inspo/inspo-K-IR_TextL_MobileBottom.pug
include ../includes/Inspo/inspo-L-IR_TextL_MobileTop.pug
///? BLOCK SHOWCASE


+Title({
title: "inspo-A-IL_TitleR_MobileBottom",
})
+inspo-A-IL_TitleR_MobileBottom({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
subTitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"
})
    
+Title({
title: "inspo-B-IL_TitleR_MobileTop",
})
+inspo-B-IL_TitleR_MobileTop({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
subTitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"
})
    
+Title({
title: "inspo-C-IR_TitleL_MobileBottom",
})
+inspo-C-IR_TitleL_MobileBottom({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
subTitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"
})
    
+Title({
title: "inspo-D-IR_TitleL_MobileTop",
})
+inspo-D-IR_TitleL_MobileTop({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
subTitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"
})
    
+Title({
title: "inspo-E-IL_TextR_Border_MobileBottom",
})
+inspo-E-IL_TextR_Border_MobileBottom({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
subTitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"
})
    
+Title({
title: "inspo-F-IL_TextR_Border_MobileTop",
})
+inspo-F-IL_TextR_Border_MobileTop({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
subTitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"
})
    
+Title({
title: "inspo-G-IR_TextL_Border_MobileBottom",
})
+inspo-G-IR_TextL_Border_MobileBottom({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
subTitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"
})
    
+Title({
title: "inspo-H-IR_TextL_Border_MobileTop",
})
+inspo-H-IR_TextL_Border_MobileTop({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
subTitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"
})
    
+Title({
title: "inspo-I-IL_TextR_MobileBottom",
})
+inspo-I-IL_TextR_MobileBottom({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
subTitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"
})
    
+Title({
title: "inspo-J-IL_TextR_MobileTop",
})
+inspo-J-IL_TextR_MobileTop({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
subTitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"
})
    
+Title({
title: "inspo-K-IR_TextL_MobileBottom",
})
+inspo-K-IR_TextL_MobileBottom({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
subTitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"
})
    
+Title({
title: "inspo-L-IR_TextL_MobileTop",
})
+inspo-L-IR_TextL_MobileTop({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
subTitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m n o p q r s t u v w x y z",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/5-trends-dekbedovertrekken",
img: "actie_5_mooiste_trends",
bgcolor: "#83C8DF",
color: "#FFFFFF"
})
+Title({
title: "promo-A-IL-TextR_MobileBottom",
})
+promo-A-IL-TextR_MobileBottom({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z ",
subtitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m ",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
color: "#FFFFFF"
})
+Title({
title: "promo-C-IR_TextL_MobileBottom",
})
+promo-C-IR_TextL_MobileBottom({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z ",
subtitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m ",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
color: "#FFFFFF"
})
+Title({
title: "promo-B-IL_TextR_MobileTop",
})
+promo-B-IL_TextR_MobileTop({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z y z a b c d e f g ",
subtitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m ",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
color: "#FFFFFF"
})
+Title({
title: "promo-D-IR_TextL_MobileTop",
})
+promo-D-IR_TextL_MobileTop({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z y z a b c d e f g ",
subtitle: "a b c d e f g h i j k l m n o p q r s t u v w x y z a b c d e f g h i j k l m ",
cta: "a b c d e f g h i j k l m n o p q r",
link: "https://www.collishop.be/e/nl/cs/vaderdag-cadeauwijzer",
img: "actie_vaderdag",
bgcolor: "#E1E4E5", 
color: "#FFFFFF"
})

+Title({
title: "Intro",
})

table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="left" valign="top" class="td-padding-inner" style="padding:25px 0 25px 0;")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0")
                            tr
                                td(align="left" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;; font-size:20px; line-height:30px; color:#000000; font-weight:bold; padding-bottom:10px;") Beste klant,
                            tr
                                td(align="left" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;; font-size:15px; line-height:24px; color:#000000; margin-bottom: 10px;") Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi recusandae officia illo culpa laudantium atque nam, illum consequatur veniam, ducimus optio harum doloribus reiciendis libero, ipsam quaerat quod quasi voluptas! Lorem ipsum dolor dolor dolor
                            tr
                                td(align="left"  valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;; font-size:15px; line-height:24px; color:#000000; padding-top:7px;") optio harum doloribus reiciendis libero, ipsam quaerat quod quasi voluptas! Lorem ipsum dolor dolor dolor
                            tr
                                 td(align="left" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;; font-size:15px; line-height:24px; color:#000000;")  
                                    p Groeten, <br>Het ColliShop-team

<!-- INTRO -->

+Title({
title: "header--full-width-height",
})

+header--full-width-height({
title: "Tot € 100 korting op Tuinmeubelen Tuinmeubelen s",
cta: "Ontdek de actie",
link: "https://www.collishop.be/e/nl/cs/tuinmeubelen",
img: "actie_tuinmeubelen-nl",
bgcolor: "#FFFFFF",
color: "#FFFFFF"
})

+Title({
title: "promo-2cat",
})

+promo-2cat({
voorvoegsel: "",
procent: "",
title: "a b c d e f g h i j k l m n o p q r s t u v w x y z",
cta: "a b c d e f g h i j k l",
link: "https://www.collishop.be/e/nl/cs/parasols-en-partytenten",
img: "actie_Parasols_en_Partytenten",

voorvoegsel2: "",
procent2: "",
title2: "a b c d e f g h i j k l m n o p q r s t u v w x y z",
cta2: "a b c d e f g h i j k l",
link2: "https://www.collishop.be/e/nl/cs/bloembakken-bloempotten-en-plantengieters",
img2: "actie_Bloembakken_Bloempotten_en_Plantengieters",
})

+Title({
title: "omo-4prod",
})

+promo-4prod({
blockTitle: "",

title: "a b c d e f g h i j k l m n o p q r s t u v w x y",
link: "https://www.collishop.be/e/nl/cs/delonghi-airconditioner-silent-pac-n90--917304--11-1",
img: "actie_Airconditioner",
price: "€ 529 ",
oldprice: "€ 599",
percentage: "12%",
sterren: 0,

title2: "a b c d e f g h i j k l m n o p q r s t u v w x y",
link2: "https://www.collishop.be/e/nl/cs/zwilling-5-delige-kookpottenset-base-299007",
img2: "actie_kookpottenset",
price2: "€ 179 ",
oldprice2: "€ 309 ",
percentage2: "42%",
sterren2: 4.5,

title3: "a b c d e f g h i j k l m n o p q r s t u v w x y",
link3: "https://www.collishop.be/e/nl/cs/delonghi-volautomatische-espressomachine-dinamica-ecam35055sb-grijs-354876",
img3: "actie_espressomachine",
price3: "€ 699 ", 
oldprice3: "€849 ",
percentage3: "18%",
sterren3: 0,

title4: "a b c d e f g h i j k l m n o p q r s t u v w x y",
link4: "https://www.collishop.be/e/nl/cs/weber-accessoireset-909586",
img4: "actie_Accessoireset",
price4: "€ 49,00 ",
oldprice4: "€ 59,95 ",
percentage4: "18%",
sterren4: 5
})

+Title({
title: "Titel",
})

+Title({
title: "a b c d e f g h i j k l m n o p q r s t u v w x y a b c d e f g h i j k l ",
})