doctype transitional
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=9; IE=8; IE=7; IE=EDGE")
    title ColliShop Email
    style
      include style.css

    <!--[if mso]>
    style
      include mso-style.css
    <![endif]-->

  body
    table(width="100%", border="0", cellspacing="0", cellpadding="0")
      tr
        td
          //- 
          //-  ADD A TITLE mixin         
          //-  ADD A BUTTON MIXIN
          //-  

          //? MOBILETOP Slaat op de afbeeling mensjes
          include includes/Essential/NL/preheader_NL.pug
          +preheader_NL({
            preview: "Stijlvol wonen met Brabantia"
          })
          include includes/Essential/NL/logo_NL.pug
          include includes/Essential/NL/navigatie_NL.pug

          include Mixin/content_NL.pug

          include includes/Essential/NL/rating_NL.pug 
          include includes/Essential/NL/footer_NL.pug
          +footer_NL(
             [ " Action sur les sacs-poubelles valable jusqu'au 29/06/2020" ]
          )

          table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper")
            tr
              td(align="left" valign="top" class="td-hide")
                table(width="600" border="0" cellpadding="0" cellspacing="0")
                  tr
                    td(align="left" valign="top" cellpadding="0" cellspacing="0" border="0" style="background-color:#FFFFFF; line-height:1px; height:1px; min-width:600px;")
                      img(src="http://content.landingpage.be/_emailtemplate/images/spacer.png" alt="" width="600" height="1" style="max-height:1px; min-height:1px; display:block; width:500px; min-width:600px;")
<!-- END GMAIL FIX -->