<!-- GRATIS LEVEREN -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:25px 0 25px 0;")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF" style="border-top: 2px solid #EAEDEE;")
                tr
                    td(align="center" valign="top" style="padding:25px 60px 25px 60px;")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF")
                            tr
                                td(align="center" valign="top" style="padding-bottom: 15px;")
                                    a(href="#LINK")
                                        img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/icon-leveren.jpg" width="60" height="60" alt="#ALT" border="0" style="display:block;")
                            tr
                                td(align="center" valign="top" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:18px; line-height:22px; font-weight:bold;") <span style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:18px; line-height:22px; font-weight:bold; color:#0098DA;">Gratis</span> leveren, betaal pas bij ontvangst.
<!-- GRATIS LEVEREN -->