<!-- BESTELLEN BLOK -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 0 0")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="left" valign="top" style="padding:25px 25px 40px 25px; border-top: 2px solid #EAEDEE;" class="td-padding-inner")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                            tr
                                td(align="center" valign="top" class="pt-25" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #000000; font-size: 24px; line-height: 28px; text-decoration: none; padding-bottom: 15px;") Hoe je korting verzilveren?
                            tr
                                td(align="center" valign="top")
                                    table(align="left" width="32%" border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="center" valign="top")
                                                table(width="160" border="0" cellspacing="0" cellpadding="0" class="img-full")
                                                    tr
                                                        td(align="center" valign="top" style="padding-bottom:10px;")
                                                            a(href="#LINK")
                                                                img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/icon-5.jpg" width="62" height="52" alt="#ALT" border="0" style="display:block; width: 62px;")
                                                    tr
                                                        td(align="center" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:18px; font-weight:bold; color:#333333; padding:0px 0 20px 0;")
                                                            a(href="#LINK" style="color:#333333; text-decoration:none;") 1. Bestel online voor een gunstige pijs
                                    table(align="left" width="32%" border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="center" valign="top")
                                                <!-- PRODUCT -->
                                                table(width="160" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                                    tr
                                                        td(align="center" valign="top" style="padding-bottom:10px;")
                                                            a(href="#LINK")
                                                                img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/icon-6.jpg" width="62" height="52" alt="#ALT" border="0" style="display:block; width: 62px;")
                                                    tr
                                                        td(align="center" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:18px; font-weight:bold; color:#333333; padding:0px 0 20px 0;")
                                                            a(href="#LINK" style="color:#333333; text-decoration:none;") 2. Kies een afhaalpunt dichtbij
                                                <!-- PRODUCT -->
                                    table(align="left" width="32%" border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="center" valign="top")
                                                <!-- PRODUCT -->
                                                table(width="160" border="0" cellspacing="0" cellpadding="0" class="img-full")
                                                    tr
                                                        td(align="center" valign="top" style="padding-bottom:10px;")
                                                            a(href="#LINK")
                                                                img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/icon-7.jpg" width="62" height="52" alt="#ALT" border="0" style="display:block; width: 62px;")
                                                    tr
                                                        td(align="center" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:18px; font-weight:bold; color:#333333; padding:0px 0 20px 0;")
                                                            a(href="#LINK" style="color:#333333; text-decoration:none;") 3. Pik op, verzilver je korting en betaal
                                                <!-- PRODUCT -->
                            tr
                                td(align="center" valign="top" style="padding:0 25px 0 25px;")
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                        tr
                                            td(align="center" valign="middle")
                                                table(border="0" cellspacing="0" cellpadding="0" style="display: inline;")
                                                    tr
                                                        td(align="center" valign="middle" width="16" style="padding-right:10px;")
                                                            img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/arrow-icon-blue.png" width="16" height="16" alt="" border="0" style="display:block;")
                                                        td(align="center" valign="middle" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:14px; line-height:22px; color:#0098DA; display: inline")
                                                            a(href="#LINK" style="color:#0098DA; text-decoration:none;") Ik profiteer van deze deal
<!-- BESTELLEN BLOK -->