<!-- VOORDELEN -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 0 0")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="left" valign="top" style="padding:10px 0px 40px 0px;" class="td-padding-inner")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                            tr
                                td(align="left" valign="top" class="pt-25" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #000000; font-size: 24px; line-height: 28px; text-decoration: none; padding-bottom: 35px;") Jouw voordelen als ColliShop-klant
                        a(href="https://www.collishop.be/e/nl/cs/winkels" name="block_usp_levering" xt="SPCLICKSTREAM" target="_blank" style="text-decoration:none; display:inline-block;")       
                            table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")    
                                tr
                                    td(align="left" valign="top" style="padding-right: 10px;")
                                        img(src="img/vast//location.png" width="60" height="60" alt="#ALT" border="0" style="display:block;")
                                    td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:18px; line-height:26px; color:#333333; padding:0px 0 20px 0;") <span style="display: block; font-size:20px; line-height:24px; font-weight:bold; color: #0098DA; padding-bottom: 5px;">Duurzaam geleverd, dicht bij huis</span> Pik je bestelling op wanneer het jou past, in alle Colruyt-winkels en Collect&amp;Go-afhaalpunten. 
                        
                        a(href="https://www.collishop.be/e/nl/cs/kies-met-advies" name="block__usp_kies_met_advies" xt="SPCLICKSTREAM" target="_blank" style="text-decoration:none; display:inline-block;")   
                            table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                tr
                                    td(align="left" valign="top" style="padding-right: 10px;")
                                        img(src="img/vast//info.png" width="60" height="60" alt="#ALT" border="0" style="display:block;")
                                    td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:18px; line-height:26px; color:#333333; padding:0px 0 20px 0;") <span style="display: block; font-size:20px; line-height:24px; font-weight:bold; color: #0098DA; padding-bottom: 5px;">Kies met advies</span> Snuister door onze productbesprekingen, krijg keuzehulp en steek wat op van onze handige huis-, tuin- en keukentips.
                        a(href="https://www.collishop.be/e/nl/cs/collishop-offline-afhalen" name="block_usp_betalen_bij_afhalen" xt="SPCLICKSTREAM" target="_blank" style="text-decoration:none; display:inline-block;")       
                            table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")        
                                tr
                                    td(align="left" valign="top" style="padding-right: 10px;")
                                        img(src="img/vast//package.png" width="60" height="60" alt="#ALT" border="0" style="display:block;")
                                    td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:18px; line-height:26px; color:#333333; padding:0px 0 20px 0;") <span style="display: block; font-size:20px; line-height:24px; font-weight:bold; color: #0098DA; padding-bottom: 5px;">Pas betalen bij afhalen</span> Vooraf betalen hoeft niet, dat doe je pas als je je bestelling oppikt. Niet overtuigd? Geen probleem, dan laat je je pakje liggen.
<!-- VOORDELEN -->