mixin footer_FR(footer_FR)
    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#0098DA")
        tr
            td(align="center" valign="top" class="td-padding-outer")
                table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#0098DA")
                    tr
                        td(align="left" valign="top" class="td-padding-inner")
                            table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                tr
                                    td(align="left" valign="top" style="padding:30px 0 20px 0;")
                                        a(href="https://www.collishop.be/e/fr/cs/faq-questions-frequentes" target="_blank" xt="SPCLICKSTREAM" name="footer_faq")
                                            table(align="left" width="32%" style="margin-right:1%;" border="0" cellspacing="0" cellpadding="0")
                                                tr
                                                    td(align="center" valign="top")
                                                        table(width="150" border="0" cellspacing="0" cellpadding="0" class="table-full")

                                                            tr
                                                                td(align="center" valign="top" style="padding-bottom:10px;")

                                                                    img(src="img/vast/icon-8.png" width="35" height="34" alt="#ALT" border="0" style="display:block;")
                                                            tr
                                                                td(align="center" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:18px; font-weight:bold; color:#FFFFFF; padding:0px 0 20px 0;")
                                                                    p(style="margin:0;") Questions fréquemment
                                        a(href="https://www.collishop.be/e/fr/cs/contact-form" target="_blank" xt="SPCLICKSTREAM" name="footer_contactformulier")    
                                            table(align="left" width="32%" style="margin-right:1%;" border="0" cellspacing="0" cellpadding="0")
                                                tr
                                                    td(align="center" valign="top")
                                                        table(width="150" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                                            tr
                                                                td(align="center" valign="top" style="padding-bottom:10px;")
                                                                    img(src="img/vast/icon-9.png" width="35" height="34" alt="#ALT" border="0" style="display:block;")
                                                            tr
                                                                td(align="center" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:18px; font-weight:bold; color:#FFFFFF; padding:0px 0 20px 0;")
                                                                    p(style="margin:0;") Formulaire de contact
                                        a(href="tel:+3223635060" target="_blank" xt="SPCLICKSTREAM" name="footer_phone")
                                            table(align="left" width="32%"  border="0" cellspacing="0" cellpadding="0")
                                                tr
                                                    td(align="center" valign="top")
                                                        table(width="150" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                                            tr
                                                                td(align="center" valign="top" style="padding-bottom:10px;")
                                                                    img(src="img/vast/icon-10.png" width="35" height="34" alt="#ALT" border="0" style="display:block;")
                                                            tr
                                                                td(align="center" valign="top" style="font-family: Titillium Web,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:18px; font-weight:bold; color:#FFFFFF; padding:0px 0 20px 0;")
                                                                    p(style="margin:0;") 02&nbsp;363&nbsp;50&nbsp;60
                            table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                tr
                                    td(align="center" valign="top" style="font-family:Arial, Helvetica Neue, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#FFFFFF;") 
                                        - var legals = footer_FR
                                        each footer_FR in legals
                                            p(style="margin:0")= footer_FR
                                        p(style="margin: 0;") Retrouvez les informations et conditions sur <a style="text-decoration:none; color:#FFFFFF" href="https://www.collishop.be/e/fr/cs" name="footer_legals_collishop" target="_blank" xt="SPCLICKSTREAM">collishop.be</a>
                            table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                tr
                                    td(align="center" valign="top" style="padding: 25px 0 60px 0;")
                                        table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                            tr
                                                td(width="49" align="middle" valign="top" style="padding-left:20px;")
                                                    a(href="https://www.collishop.be/e/fr/cs" name="footer_logo_colruyt" target="_blank" xt="SPCLICKSTREAM")
                                                        img(src="img/vast/colruyt-group-logo.png" width="103" height="30" alt="colruyt-group-logo" border="0" style="display:block;")
                                                td(align="right" valign="middle" style="font-family:Arial, Helvetica Neue, Helvetica, sans-serif; font-size:13px; line-height:16px; color:#B2E0F3;")
                                                    a(href="https://monxtra.be/xtra/fr/declaration-de-confidentialite" target="_blank" xt="SPCLICKSTREAM" name="footer_privacy" style="color:#B2E0F3; text-decoration:underline;") Déclaration de confidentialité 
                                                    |  |  
                                                    a(href="https://www.collishop.be/e/fr/cs/newsletteroptout?xtraUnsub=1231-%%CBHID%%-%%EMAIL%%" target="_blank" xt="SPCLICKSTREAM" name="footer_nps_uitschrijven" style="color:#B2E0F3; text-decoration:underline;") Se désinscrire