<!-- NAVIGATIE -->
table(width="100%", border="0", cellspacing="0", cellpadding="0", class="table-wrapper", bgcolor="#FFFFFF")
    tr
        td(align="center", valign="top", class="td-padding-outer", style="padding:0 0 20px 0;")
            table(width="600", border="0", cellspacing="0", cellpadding="0", class="table-full", bgcolor="#FFFFFF")
                tr
                    td(align="center", valign="top", style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;")
                        a(href="https://www.collishop.be/e/fr/cs/electro", xt="SPCLICKSTREAM" target="_blank" name="nav_electro" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Électro | 
                        a(href="https://www.collishop.be/e/fr/cs/cuisine-et-arts-de-la-table", xt="SPCLICKSTREAM" target="_blank" name="nav_cuisin_et_art_de_la_table" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Cuisine et Arts de la table | 
                        a(href="https://www.collishop.be/e/fr/cs/literie", xt="SPCLICKSTREAM" target="_blank" name="nav_literie" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Literie | 
                        a(href="https://www.collishop.be/e/fr/cs/amenagement-interieur", xt="SPCLICKSTREAM" target="_blank" name="nav_habitat" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Habitat | 
                        a(href="https://www.collishop.be/e/fr/cs/terrasse-et-jardin", xt="SPCLICKSTREAM" target="_blank" name="nav_terrase_et_jardin" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Terrasse et Jardin | 
                        a(href="https://www.collishop.be/e/fr/cs/taches-menageres", xt="SPCLICKSTREAM" target="_blank" name="nav_taches_menageres" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 14px; line-height: 18px; text-decoration: none;") Tâches ménagères 
<!-- NAVIGATIE -->