mixin preheader_FR(data)  
  <!-- PREHEADER -->
  table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
      td(align="center" valign="top" class="td-padding-outer")
        table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
          tr
            td(align="left" valign="top" class="td-padding-inner" style="padding:25px 0px 5px 0px;")
              table(width="100%" border="0" cellspacing="0" cellpadding="0")
                tr
                  td(align="center" valign="top" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:13px; line-height:18px; color:#999898;")=data.preview
              table(width="100%" border="0" cellspacing="0" cellpadding="0")
                tr
                  td(align="center" valign="top" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:12px; line-height:18px; color:#999898;") Si cet e-mail ne s'affiche pas correctement,  
                    |
                    a(style="color:#999898;" href="nietleesbaar_fr" name="txt_nietleesbaar" target="_blank" xt="SPCLICKTOVIEW") cliquez ici.
                  
  <!-- PREHEADER -->