<!-- PROMO BLOK -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 50px 0;")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF" style="border: 4px solid #D20000")
                tr
                    td(align="left" valign="top" class="td-center")
                        table(width="49%" align="right" border="0" cellspacing="0" cellpadding="0" class="table-full h-100" bgcolor="#D20000")
                            tr
                                td(align="center" valign="middle" height="100%")
                                    table(width="100%" align="center" valign="middle" border="0" cellspacing="0" cellpadding="0" style="vertical-align: middle;" height="100%" bgcolor="#D20000")
                                        tr
                                            th(align="center" valign="top" style="padding:0 0 0 0")
                                                table(border="0" cellspacing="0" cellpadding="0")
                                                    tr
                                                        th(align="center" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:16px; line-height:19px; font-weight:bold; color:#FFFFFF; padding:6px 17px 6px 17px; background-color: #000000")
                                                            a(href="#LINK" style="color:#FFFFFF; text-decoration:none; text-transform: uppercase;") Enkel deze week
                                        tr
                                            th(align="center" valign="middle" style="padding: 90px 0 90px 0;" class="pt-20 pb-20")
                                                table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                                    tr
                                                        th(align="center" valign="top" style="padding:0px 25px 7px 25px;" class="pt-25")
                                                            table(align="center" border="0" cellspacing="0" cellpadding="0")
                                                                tr
                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                        a(href="#LINK")
                                                                            img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/star-yellow.png" width="15" alt="#ALT" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                        a(href="#LINK")
                                                                            img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/star-yellow.png" width="15" alt="#ALT" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                        a(href="#LINK")
                                                                            img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/star-yellow.png" width="15" alt="#ALT" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                        a(href="#LINK")
                                                                            img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/star-yellow.png" width="15" alt="#ALT" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                        a(href="#LINK")
                                                                            img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/star-grey.png" width="15" alt="#ALT" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                    tr
                                                        th(align="center" valign="middle" class="fs-20 py-0" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #FFFFFF; font-size: 20px; line-height: 23px; text-decoration: none; padding: 0 25px 0 25px;") 
                                                            a(href="#LINK" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #FFFFFF; font-size: 20px; line-height: 23px; text-decoration: none;") Philips Senseo Viva Café HD6563/88 rood
                                        tr
                                            th(align="center" valign="middle" class="pb-30"  style="padding: 0 0 20px 0;")
                                                table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                                    tr
                                                        th(align="center" valign="middle" class="pt-25 pt-40" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #FFFFFF; font-size: 36px; line-height: 23px; text-decoration: none;")
                                                            a(href="#LINK" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size: 36px; line-height: 23px; color: #FFFFFF; text-decoration: none;")
                                                                <a href="#LINK" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size: 20px; line-height: 23px; color: #FFFFFF; text-decoration: none;">€ </a><a href="#LINK" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size: 36px; line-height: 23px; color: #FFFFFF; text-decoration: none;">64,50 </a><a href="#LINK" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-weight: bold; font-size: 16px; line-height: 19px; color: #000000; text-decoration: line-through; text-decoration: none;">€129</a> <a href="#LINK" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-weight: bold; font-size: 16px; line-height: 19px; color: #FFFFFF; text-decoration: none;"> -30%</a>
                        table(width="49%" align="left" border="0" cellspacing="0" cellpadding="0" class="table-full h-100")
                            tr
                                td(align="center" valign="middle" style="padding:25px 0 25px 0;" class="px-65")
                                    a(href="#LINK")
                                        img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/product-image2.jpg" width="185" height="247" alt="#ALT" border="0" class="img-full" style="display:block;")
<!-- PROMO BLOK -->
