<!-- PROMO BLOK -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 50px 0;")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF" style="border: 4px solid #D20000")
                tr
                    td(align="left" valign="top")
                        table(width="49%" align="right" border="0" cellspacing="0" cellpadding="0" class="table-full h-100" bgcolor="#FFFFFF")
                            tr
                                td(align="left" valign="top" style="padding:0 0 0 0")
                                    table(border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="right" valign="top")
                                                table(border="0" cellspacing="0" cellpadding="0")
                                                    tr
                                                        td(align="center" valign="top" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:16px; line-height:19px; font-weight:bold; color:#FFFFFF; padding:6px 17px 6px 17px; background-color: #D20000")
                                                            a(href="#LINK" style="color:#FFFFFF; text-decoration:none; text-transform: uppercase;") Enkel deze week
                                        tr
                                            td(align="left" valign="top")
                                                table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                                    tr
                                                        td(align="left" valign="top" style="padding:18px 25px 7px 25px;")
                                                            table(align="left" border="0" cellspacing="0" cellpadding="0")
                                                                tr
                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                        a(href="#LINK")
                                                                            img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/star-yellow.png" width="15" alt="#ALT" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                        a(href="#LINK")
                                                                            img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/star-yellow.png" width="15" alt="#ALT" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                        a(href="#LINK")
                                                                            img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/star-yellow.png" width="15" alt="#ALT" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;")
                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                        a(href="#LINK")
                                                                            img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/star-yellow.png" width="15" alt="#ALT" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;" )
                                                                    td(width="15" align="left" valign="top" style="padding-right:3px;")
                                                                        a(href="#LINK")
                                                                            img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/star-grey.png" width="15" alt="#ALT" style="display:block; border:none; outline:none; text-decoration:none; width: 15px;" )
                                                    tr
                                                        td(align="left" valign="top" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 20px; line-height: 23px; text-decoration: none; font-weight: bold; padding:5px 25px 0 25px;") 
                                                            a(href="#LINK" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #0098DA; font-size: 20px; line-height: 23px; text-decoration: none;")   Philips Senseo Viva Café HD6563/88 rood
                                                    tr
                                                        td(align="left" valign="top" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #000000; font-size: 16px; line-height: 25px; text-decoration: none; padding:0 25px 0 25px;")
                                                            ul(style="padding-left: 18px;")
                                                                li 
                                                                    a(href="#LINK" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #000000; font-size: 16px; line-height: 25px; text-decoration: none;") Lorem ipsum dolor sit amet
                                                                li 
                                                                    a(href="#LINK" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #000000; font-size: 16px; line-height: 25px; text-decoration: none;") Consectetur adipiscing elit.
                                                                li
                                                                    a(href="#LINK" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #000000; font-size: 16px; line-height: 25px; text-decoration: none;") Curabitur et enim in lacus elementum viverra.
                                                    tr
                                                        td(align="left" valign="middle" class="pb-30" style="padding:0 0 25px 25px;")
                                                            table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                                                tr
                                                                    td(align="center" valign="middle" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #D20000; font-weight: bold; font-size: 36px; line-height: 23px; text-decoration: none;")
                                                                        a(href="#LINK" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size: 36px; line-height: 23px; color: #D20000; text-decoration: none;")
                                                                            <span style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-weight: bold; font-size: 20px; line-height: 23px; color: #D20000;">€ </span>64,50 <span style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-weight: bold; font-size: 16px; line-height: 19px; color: #999898; text-decoration: line-through;">€129</span> <span style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-weight: bold; font-size: 16px; line-height: 19px; color: #FFFFFF; background-color: #D20000; padding: 2px 5px;">-&nbsp;30%</span>
                        table(width="49%" align="left" border="0" cellspacing="0" cellpadding="0" class="table-full h-100")
                            tr
                                td(align="center" valign="middle" style="padding:25px 0 25px 0;" class="px-65")
                                    a(href="#LINK")
                                        img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/product-image2.jpg" width="185" height="247" alt="#ALT" border="0" class="img-full" style="display:block;")
<!-- PROMO BLOK -->