<!-- PROMO BLOK -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 50px 0;")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full")
                tr
                    td(align="left" valign="top")
                        table(width="49%" align="left" border="0" cellspacing="0" cellpadding="0" class="table-full h-100")
                            tr
                                td(align="left" valign="top" style="padding:0 0 0 0;")
                                    a(href="#LINK")
                                        img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/header-image7.jpg" width="275" height="176" alt="#ALT" border="0" class="img-full" style="display:block;")
                        table(width="49%" align="right" border="0" cellspacing="0" cellpadding="0" class="table-full h-100" bgcolor="#FFFFFF")
                            tr
                                td(align="center" valign="top" style="padding:0 0 0 5px;" class="px-0 pt-20")
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                        tr
                                            td(align="left" valign="top" class="pt-0" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #000000; font-size: 20px; line-height: 23px; text-decoration: none; padding-bottom: 8px;") Hoe kies je de juiste koffiemachine?
                                        tr
                                            td(align="left" valign="top" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #000000; font-size: 16px; line-height: 22px; text-decoration: none;") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et enim in lacus elementum viverra. Integer mattis porttitor metus, ac mollis est hendrerit vitae.
                            tr
                                td(align="left" valign="top" class="pb-30 px-0" style="padding: 8px 0 0 5px;")
                                    table(border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="left" valign="middle" width="16" style="padding-left:10px;")
                                                img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/arrow-icon-blue.png" width="16" height="16" alt="" border="0" style="display:block;")
                                            td(align="center" valign="middle" style="font-family: Tahoma, Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:14px; line-height:22px; color:#0098DA; display: inline")
                                                a(href="#LINK" style="color:#0098DA; text-decoration:none;") Bekijk de selectie
<!-- PROMO BLOK -->