<!-- HEADER FULL WIDTH -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#0098DA")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 0 0;")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#0098DA")
                tr
                    td(align="left" valign="top" class="td-center" style="padding-bottom: 30px;")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#0098DA")
                            tr
                                td(align="center" valign="middle" class="mso-pt-30")
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                        tr
                                            td(align="center" valign="middle" style="padding: 20px 0 20px 12px; vertical-align: middle;" class="px-0" class="table-full" )
                                                table(width="100%" align="center" valign="middle" border="0" cellspacing="0" cellpadding="0" style="vertical-align: middle;")
                                                    tr
                                                        th(align="center" valign="top")
                                                            a(href="#LINK" style="font-size: 0; line-height: 0; padding: 0;")
                                                                img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/header-image-full-width.jpg" width="550" height="515" alt="#ALT" border="0" class="img-full" style="display: block;")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#0098DA")
                            tr
                                td(align="center" valign="top")
                                    table(border="0" cellspacing="0" cellpadding="0")
                                        tr
                                            td(align="center" valign="top" bgcolor="#E92972" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:18px; line-height:21px; color:#FFFFFF; padding:15px 20px 15px 20px; border-radius: 25px;")
                                                a(href="#LINK" style="color:#FFFFFF; text-decoration:none; display:inline-block;") Bekijk het assortiment
<!-- HEADER FULL WIDTH -->