<!-- HEADER -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer" style="padding:0 0 0 0;")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#0098DA")
                tr
                    td(align="left" valign="top" class="td-center")
                        table(width="49%" height="300" align="left" valign="middle" border="0" cellspacing="0" cellpadding="0" class="table-full h-100" bgcolor="#0098DA")
                            tr
                                td(align="center" valign="middle" class="mso-pt-30")
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                        tr
                                            td(align="center" valign="middle" style="padding: 20px 0 20px 12px; vertical-align: middle;" class="px-0" class="table-full" )
                                                table(width="100%" align="center" valign="middle" border="0" cellspacing="0" cellpadding="0" style="vertical-align: middle;")
                                                    tr
                                                        th(align="center" valign="top")
                                                            table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                                                tr
                                                                    td(align="center" valign="middle" class="pt-25" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #FFFFFF; font-size: 60px; line-height: 69px; text-decoration: none; font-weight: bold;")
                                                                tr
                                                                    th(align="center" valign="middle" style="vertical-align: middle; font-size:20px; line-height:24px;")
                                                                        table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-full")
                                                                            tr
                                                                                th(align="center" valign="middle" class="fs-50" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #FFFFFF; font-size: 60px; line-height: 69px; text-decoration: none; font-weight: bold;") -15%
                                                                            tr
                                                                                th(align="center" valign="middle" class="fs-20" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; color: #FFFFFF; font-size: 26px; line-height: 30px; text-decoration: none;") op alle badlinnen
                                                                tr
                                                                    th(align="center" valign="bottom" class="pt-25")
                                                                        table(border="0" cellspacing="0" cellpadding="0" style="display: inline-block;")
                                                                            tr
                                                                                th(align="center" valign="middle" width="16" style="padding-right:10px;")
                                                                                    img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/arrow-icon.jpg" width="16" height="16" alt="" border="0" style="display:block;" )
                                                                                th(align="center" valign="middle" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:14px; line-height:22px; color:#FFFFFF; display: inline;")
                                                                                        a(href="#LINK" style="color:#FFFFFF; text-decoration:none;") Bekijk het assortiment
                        table(width="49%" height="300" align="right" border="0" cellspacing="0" cellpadding="0" class="h-100 table-full h-100")
                            tr
                                td(align="right" valign="top" style="font-size: 0; line-height: 0; padding: 0;")
                                    a(href="#LINK" style="font-size: 0; line-height: 0; padding: 0;")
                                        img(src="http://content.landingpage.be/Collishop/2020/COLLI-11/img/header-image.jpg" width="300" height="300" alt="#ALT" border="0" class="img-full" style="display: block;")
<!-- HEADER -->