doctype transitional
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;")
    meta(http-equiv="X-UA-Compatible", content="IE=9; IE=8; IE=7; IE=EDGE")
    title Master template
    style
      include style.css

    <!--[if mso]>
    style
      include mso-style.css
    <![endif]-->

  body
    table(width="100%", border="0", cellspacing="0", cellpadding="0")
      tr
        td
          //- 
          //-  ADD A TITLE mixin         
          //-  ADD A BUTTON MIXIN
          //-  
          //- 
          //- 
          //- 
          //- 
          //- 
          //- 

          include includes/Special/afhaalpunt.pug 
          include includes/Special/bestellen-pros.pug
          include includes/Special/gratis-leveren.pug
          include includes/Special/korting-verzilveren.pug
          include includes/Special/promocode.pug
          include includes/Special/voordelen.pug


          include includes/Essential/footer.pug
          include includes/Essential/logo.pug
          include includes/Essential/navigatie.pug
          include includes/Essential/preheader.pug
          include includes/Essential/rating.pug 

          // Headers
          include includes/Headers/header--full-width-height.pug
          include includes/Headers/header--full-width.pug
          include includes/Headers/header.pug

          // Unordered
          include includes/Basic/promo-2prod.pug
          include includes/Basic/intro.pug
          include includes/Basic/promo-2cat.pug
          include includes/Basic/promo-4cat.pug
          include includes/Basic/promo-4prod.pug

          //? Dit is weekdeal shizzel
          include includes/Promo/promo-Prod_Red-IL.pug
          include includes/Promo/promo-Prod_Red-IR.pug
          include includes/Promo/promo-Prod_White-IL.pug
          include includes/Promo/promo-Prod_White-IR.pug



          //- PROMO

          include includes/Promo/promo-A-IL-TextR_MobileBottom.pug
          include includes/Promo/promo-B-IL_TextR_MobileTop.pug
          include includes/Promo/promo-C-IR_TextL_MobileBottom.pug
          include includes/Promo/promo-D-IR_TextL_MobileTop.pug
          

          include includes/Promo/promo-E-IL_TitleR_MobileBottom.pug
          include includes/Promo/promo-F-IL_TitleR_MobileTop.pug
          include includes/Promo/promo-G-IR_TitleL_MobileBottom.pug
          include includes/Promo/promo-H-IR_TitleL_MobileTop.pug
        
          //- INSPO
          include includes/Inspo/inspo-A-IL_TitleR_MobileBottom.pug
          include includes/Inspo/inspo-B-IL_TitleR_MobileTop.pug
          include includes/Inspo/inspo-C-IR_TitleL_MobileBottom.pug
          include includes/Inspo/inspo-D-IR_TitleL_MobileTop.pug
          


          include includes/Inspo/inspo-E-IL_TextR_Border_MobileBottom.pug
          include includes/Inspo/inspo-F-IL_TextR_Border_MobileTop.pug
          include includes/Inspo/inspo-G-IR_TextL_Border_MobileBottom.pug
          include includes/Inspo/inspo-H-IR_TextL_Border_MobileTop.pug
          

          include includes/Inspo/inspo-I-IL_TextR_MobileBottom.pug
          include includes/Inspo/inspo-J-IL_TextR_MobileTop.pug
          include includes/Inspo/inspo-K-IR_TextL_MobileBottom.pug
          include includes/Inspo/inspo-L-IR_TextL_MobileTop.pug
          
          
          
          
          

          table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper")
            tr
              td(align="left" valign="top" class="td-hide")
                table(width="600" border="0" cellpadding="0" cellspacing="0")
                  tr
                    td(align="left" valign="top" cellpadding="0" cellspacing="0" border="0" style="background-color:#FFFFFF; line-height:1px; height:1px; min-width:600px;")
                      img(src="http://content.landingpage.be/_emailtemplate/images/spacer.png" alt="" width="600" height="1" style="max-height:1px; min-height:1px; display:block; width:500px; min-width:600px;")
<!-- END GMAIL FIX -->