<!-- INTRO -->
table(width="100%" border="0" cellspacing="0" cellpadding="0" class="table-wrapper" bgcolor="#FFFFFF")
    tr
        td(align="center" valign="top" class="td-padding-outer")
            table(width="600" border="0" cellspacing="0" cellpadding="0" class="table-full" bgcolor="#FFFFFF")
                tr
                    td(align="left" valign="top" class="td-padding-inner" style="padding:25px 0 25px 0;")
                        table(width="100%" border="0" cellspacing="0" cellpadding="0")
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:20px; line-height:30px; color:#333333; font-weight:bold; padding-bottom:10px;") Dag (voornaam),
                            tr
                                td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#333333;") Het zijn een paar bizarre weken geweest, ook voor ons bij ColliShop. Hopelijk gaat alles goed met jou en je dierbaren. Wij zijn alleszins blij dat we je weer op de hoogte kunnen brengen van onze aanbiedingen.
                            tr
                                td
                                    ul(style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#333333;") <span style=" font-weight:bold;">Voor aanhuislevering geldt een nieuw tarief:  </span>
                                        li() Gratis thuislevering vanaf € 60 (verzendingskost van € 3,99 voor bestellingen met een lagere orderwaarde).
                                        li Gratis XXL-leveringen aan huis (zoals een tuinset, schommel,…) vanaf € 250 (verzendingskost van € 30 bij een lagere orderwaarde). 

                            tr
                                 td(align="left" valign="top" style="font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; font-size:15px; line-height:24px; color:#333333;")  
                                    p Groeten, <br>Het ColliShop-team

<!-- INTRO -->