mixin legalsfr(legals)
  - var legals = legals
  each legal in legals
      p.centerText= legal
  p.centerText Je vindt al onze acties en voorwaarden op <a href="https://www.collishop.be/e/nl/cs" target="_blank" xt="SPCLICKSTREAM">collishop.be</a>.